{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>HBF Nidhi Ltd.| Recurring Deposit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="HBF NIDHI" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <style>
        /* Style for the main dropdown */
    .dropdown1 {
        position: relative;
        display: inline-block;
    }
    
    .dropdown1 > a {
        color: black; /* Change as per your design */
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px; /* Adjust padding as needed */
    }
    
    
    
    .dropdown-menu1 {
        display: none; /* Hide by default */
        position: absolute;
        background-color: #f9f9f9; /* Background color of the dropdown */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow for dropdown */
        z-index: 1;
        min-width: 160px; /* Adjust width as needed */
    }
    
    .dropdown-menu1 li {
        list-style-type: none; /* Remove default list styling */
    }
    
    .dropdown-menu1 li a {
        color: black; /* Change link color as per your design */
        padding: 10px 15px; /* Adjust padding as needed */
        text-decoration: none;
        display: block;
    }
    
    .dropdown-menu1 li a:hover {
        background-color: #ddd; /* Background color on hover */
    }
    
    .dropdown1:hover .dropdown-menu1 {
        display: block;
    }
    
    /* Style for the sub-dropdown */
    .dropdown-submenu1 {
        position: relative;
    }
    
    
    .dropdown-menu2 {
        display: none; /* Hide by default */
        position: absolute;
        left: 100%;
        top: 0;
        background-color: #f9f9f9; /* Background color of the sub-dropdown */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow for sub-dropdown */
        z-index: 1;
        min-width: 160px; /* Adjust width as needed */
    }
    
    .dropdown-submenu1:hover .dropdown-menu2 {
        display: block; /* Show the sub-dropdown on hover */
    }
    </style>
        
    <!-- Custom Theme files -->
    <link href={% static "web/css/bootstrap.css" %} type="text/css" rel="stylesheet" media="all">
    <!-- gallery smoothbox -->
    <link rel="stylesheet" href={% static "web/css/smoothbox.css" %} type='text/css' media="all" />
    <!-- team deoslide -->
    <link rel="stylesheet" href={% static "web/css/jquery.desoslide.css" %}>
    <link href={% static "web/css/style.css" %} type="text/css" rel="stylesheet" media="all">
    <link href={% static "web/css/font-awesome.css" %} rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
</head>
<body>
<script src='../../../../../../../ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script><script src="../../../../../../../m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125810435-1"></script>
<body>
    <div class="top-nav">
        <!--nav top-->
		<!---728x90--->

        <div class="container">

            <div class="navbar-top">
                <div class="nav-top-left">
                    <ul>
                        <li>
                            <a href="/customer/" class="log">Login</a>
                        </li>
                        <li>
                            <a href="/registration/" class="log">register</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-top-right">
                    <ul>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>+91-9971-337-447</li>
                        <li>
                            <i class="fa fa-envelope-o list-icon" aria-hidden="true"></i>
                            <a href="mailto:Info@hbfnidhi.com">Info@hbfnidhi.com</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- nav-bottom -->
        <div class="inner-header">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a href="/"  title="HBF NIDHI Ltd.">
                             <img href="HBF NIDHI" src={% static "web/images/logo.png" %}>
                        </a>
                    </h1>
                </div>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                       <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">About</a>
                        </li>
                        <li class="active">
                            <a href="/">Product</a>
                        </li>
                        
                        
                        <li class="dropdown1">
                            <a>Services</a>
                            <ul class="dropdown-menu1">
                                <li class="dropdown-submenu1">
                                    <a href="/loans/">Loan Products</a>
                                    <ul class="dropdown-menu2">
                                        

                                        <li><a href="/gold-loan/">Gold Loan</a></li>
                                        <li><a href="/loan-against-insurance-policy/">Loan against Insurance Policy</a></li>
                                        <li><a href="/deposit-receipt/">Loan against deposit receipt</a></li>
                                        <li><a href="/loan-against-govt-bond/">Loan against Govt. Bond</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        


                        <li class="dropdown1">
                            <a>Investment Schemes </a>
                            <ul class="dropdown-menu1">
                                <li class="dropdown-submenu1">
                                    <a href="/fixed/">Fixed Deposit </a>
                                </li>
                                <li class="dropdown-submenu1">
                                    <a href="/monthly-income-plan/">Monthly Income Plan</a>
                                </li>
                                <li class="dropdown-submenu1">
                                    <a href="/recurring/">Recurring Deposit </a>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a href="/">Team</a>
                        </li>
                        <li>
                            <a href="/">Career</a>
                        </li>
                        <li>
                            <a href="/" class="scroll">Faq</a>
                        </li>
                        <li>
                            <a href="/">contact</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </nav>
        </div>
    </div>
    <!--/nav ends here-->
    {% block content %}

    {% endblock %}
    <p class="footer-class">© 2019 HBF Nidhi Ltd. All Rights Reserved | Design by
        <a href="https:\\www.techlopers.com" target="_blank">Techlopers Solution Pvt. Ltd.</a>
    </p>
    <script src={% static "web/js/jquery-2.2.3.min.js" %}></script>
    <script src={% static "web/js/numscroller-1.0.js" %}></script>
    <script src={% static "web/js/responsiveslides.min.js" %}></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
    <!-- //banner slider script ends -->
    <!-- sign in and signup pop up toggle script -->
    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms  
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
    <!-- sign in and signup pop up toggle script -->
    <!-- team desoslide-JavaScript -->
    <script src={% static "web/js/jquery.desoslide.js" %}></script>
    <script>
        $('#demo1_thumbs').desoSlide({
            main: {
                container: '#demo1_main_image',
                cssClass: 'img-responsive'
            },
            effect: 'sideFade',
            caption: true
        });
        $('#demo2_thumbs').desoSlide({
            main: {
                container: '#demo2_main_image',
                cssClass: 'img-responsive'
            },
            effect: 'sideFade',
            caption: true
        });
    </script>
    <!-- //team desoslide-JavaScript -->
    <!-- Flexslider-js for-testimonials -->
    <script src={% static "web/js/jquery.flexisel.js" %}></script>
    <script>
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 1,
                animationSpeed: 1000,
                autoPlay: false,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 1
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 1
                    }
                }
            });

        });
    </script>
    <!-- //Flexslider-js for-testimonials -->
    <!-- start-smooth-scrolling -->
    <script src={% static "web/js/move-top.js" %}></script>
    <script src={% static "web/js/easing.js" %}></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src={% static "web/js/SmoothScroll.min.js" %}></script>
    <script src={% static "web/js/smoothbox.jquery2.js" %}></script>
    <script src={% static "web/js/bootstrap.js" %}></script>
</body>
</html>
