{% extends 'Customer/layout/base.html' %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="row top_tiles">
            <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tile-stats" style="background-color: #e3f0f4; color: #0b2e13;">
                    <h2 class="site_title" style="background-color: #51a9b5;">Accounts Statements</h2>

                    <h4>Saving Account</h4>
                    {% if saving_account %}
                        <p>{{ saving_account.account_no }}</p>
                        <br>
                        <h4>Available Balance</h4>
                        <p>{{ saving_account.account_balance }}</p>
                        <ul>
                            <li>Member ID: {{ saving_account.member }}</li>
                            <li>Branch Name: {{ saving_account.branch_name }}</li>
                            <li>Branch Code: {{ saving_account.branch_code }}</li>
                            <li>IFSC: {{ saving_account.ifsc }}</li>
                        </ul>
                    {% else %}
                        <p>Saving account details not found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="row top_tiles">
            <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tile-stats" style="background-color: #e3f0f4; color: #0b2e13;">
                    <h4>Statement</h4>
                    <h5>Recent Transactions</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Transaction ID</th>
                                <th>Beneficiary</th>
                                <th>Amount</th>
                                <th>Balance After Transaction</th>
                                <th>Date</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction, balance in transactions %}
                                <tr>
                                    <td>{{ transaction.transaction_id }}</td>
                                    <td>
                                        {% if transaction.corresponding_saving_account %}
                                            {{ transaction.corresponding_saving_account.account_no }}
                                        {% endif %}
                                    </td>
                                    <td>{{ transaction.amount }}</td>
                                    <td>{{ balance }}</td>
                                    <td>{{ transaction.transaction_date }}</td>
                                    <td>{{ transaction.transaction_type }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="row top_tiles">
            <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tile-stats" style="background-color: #e3f0f4; color: #0b2e13;">
                    <h4>Get Statement</h4>
                    <form method="POST" action="{% url 'get_bank_statement' %}">
                        {% csrf_token %}
                        {{ form.as_p|safe }}
                        <button type="submit" class="btn btn-primary">Get Statement</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock content %}
