<!-- get_bank_statement.html -->
{% extends 'Customer/layout/base.html' %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="row top_tiles">
            <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tile-stats" style="background-color: #e3f0f4; color: #0b2e13;">
                    <h4>Filtered Statement</h4>
                    <h5>Filtered Transactions</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Transaction ID</th>
                                <!-- <th>Beneficiary</th> -->
                                <th>Amount</th>
                                <!-- <th>Balance After Transaction</th> -->
                                <th>Date</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in transactions %}
                                <tr>
                                    <td>{{ transaction.transaction_id }}</td>
                                    <!-- <td>{{ transaction.beneficiary }}</td> -->
                                    <td>{{ transaction.amount }}</td>
                                    <!-- <td>{{ transaction.balance }}</td> Using 'balance' which is annotated -->
                                    <td>{{ transaction.transaction_date }}</td>
                                    <td>{{ transaction.transaction_type }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
