{% extends 'Customer/layout/base.html' %}
{% block content %}
      <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="row top_tiles">
              <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                   <div class="tile-stats" style="background-color: #003b4e; color: #0b2e13 ;">
                     <a class="site_title" style="background-color: #51a9b5;" > Investment Schemes</a>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}