{% extends 'admin/layouts/base.html' %}
{% block content %}
<div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li><a href="/admin/dashboard/">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-slash">RD Scheme List</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!-- Static Table Start -->
        <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <h1>List Of RD Scheme</h1>
                                </div>
                            </div>
                            <div class="sparkline13-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">
                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                        data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                        <thead>
                                            <tr>
                                                <th>SN.</th>
                                                <th data-field="customer_name">Scheme</th>
                                                <th data-field="email">Interest Rate</th>
                                                <th data-field="phone">Tenure</th>
                                                <th data-field="pincode">Breakable</th>
                                                <th data-field="date">Created Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for data in rd_scheme %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td><a href="/admin/profile/{{ data.member }}/"><u>{{ data.member }}</u></a></td>
                                                <td>{{ data.agent }}</td>
                                                <td>{{ data.first_name }} {{ data.last_name }}</td>
                                                <td>{{ data.email }}</td>
                                                <td>{{ data.mobile }}</td>
                                                <td>{{ data.pincode }}</td>
                                                <td>{{ data.registration_date }}</td>
                                                    {% if data.is_verify == 0 %}
                                                        <td><a href="/admin/verify/{{ data.is_verify }}/{{ data.member }}/"><button class="btn btn-info">Verified</button></a></td>
                                                    {% else %}
                                                        <td><a href="/admin/verify/{{ data.is_verify }}/{{ data.member }}/"><button class="btn btn-warning">Not Verify</button></a></td>
                                                    {% endif %}
                                                    {% if data.is_active == 0 %}
                                                        <td><a href="/admin/active/{{ data.is_active }}/{{ data.member }}/"><button class="btn btn-info">Active</button></a></td>
                                                    {% else %}
                                                        <td><a href="/admin/active/{{ data.is_active }}/{{ data.member }}/"><button class="btn btn-warning">Not Active</button></a></td>
                                                    {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}