{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "css/font-awesome.min.css" %}>
    <link rel="stylesheet" href={% static "css/mycss.css" %}>
    <script src={% static "js/myjs.js" %}></script>
</head>
<body style="background: #fff">
    <div class="form" style="background: #827b76;padding: 32px;max-width:475px;margin:60px auto;">
      <div class="tab-content">
        <div id="login">
          <h2 align="center">Welcome To HBFNIDHI!</h2>
                {{ message }}
          <form action="/admin/login/" method="post">
              {% csrf_token %}
            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email" name="email" autocomplete="off" class="form-control"/>
          </div>
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password" autocomplete="off" name="password" class="form-control"/>
          </div>
          <button type="submit" class="button button-block"/>Log In</button>
          </form>
        </div>
      </div>
    </div>
</body>
</html>