{% extends 'web/layouts/base.html' %}
{% load static %}
{% block content %} 

    <!--about -->
    <div id="about" class="section" style="padding: 0em 0;">
        <div class="abt-container">
            <div class="faq-info">
                <ul class="nav nav-tabs" role="tablist">
                    
                    <li role="presentation">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"style="font-size: 18px;">Loan against Deposit Receipt</a>
                    </li>
                   
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="testi">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                
                                    

                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>Loan against Deposit Receipt</legend>
                                    <div class="stats-info" style="padding: 0 0em 10em;">
                                        <div class="col-sm-12 col-xs-12 ">
                                            Loan will be permitted on deposits for the remaining period of the deposit or one year whichever is less up to 90% of the deposit amount carrying interest @2% p.a. above the interest payable on such deposits or such other lower rates may be be fixed by the company from time to time(compounded monthly)
The outstanding loan together with interest shall be settled in one lump sum or shall be adjusted automatically on maturity of deposit.
<br/><br/>
                                           
                                           
                                            
                                          
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 82%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>
                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
    
    <!-- //about -->
{% endblock %}