{% extends 'web/layouts/base.html' %}
{% load static %}
{% block content %} 



    <!--about -->
    <div id="about" class="section">
        <div class="abt-container">
            <fieldset>
                <legend>Doorstep Services</legend>
                <div class="stats-info" style="padding: 0 0em 12em;">
                    <div class="col-sm-12 col-xs-12">
                      Get pick-up and delivery services for cash and instruments, right at your doorstep<br/><br/>
                      There is an increasing expectation from customers for better service from their banks. The availability of ATMs for 24-hour banking is also not seen as sufficient. More and more customers look for getting banking transactions done sitting in their homes or offices. This has led to the concept of Doorstep Banking getting more and more volumes.

                      <br/><br/>
                      While, the services to be offered are simple; the timeliness and urgency towards the customer poses a big challenge specifically because the geographical reach are very important.<br/><br/>
                      These services are already being handled well through phone calls and third-party service providers. However, to handle higher volumes with reduced errors we have evolved the Doorstep Banking solution.<br/><br/>
                      As also defined in Regulatory guidelines, Banks now offer the following banking services to all of their customers at their doorstep:<br/><br/>

                     
                        <ul>
                          <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                            Cash pick-up and delivery
                          </li>
                          <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                            Instruments/Cheque pick up
                          </li>
                          <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                            Instruments/Cheque pick up<br /><br/>
                          </li>
                        </ul>
                        <p style="size: 20px"><strong>Who can avail HBF Nidhi Doorstep Banking Services?</strong></p>
                        Existing members of HBF Nidhi in good standing, especially senior citizens or individuals with mobility limitations.<br/><br/>
                        <p style="size: 20px"><strong>How to Use HBF Nidhi Doorstep Banking Services:</strong></p>

                        <ul>
                          <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                            	Contact your nearest HBF Nidhi branch.
                          </li>
                          <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                            Inform them about the desired doorstep service and preferred date and time.
                          </li>
                          <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                            A customer service representative will confirm your appointment and provide further instructions.
                          </li>
                          <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                            	Our representative will visit your designated location at the scheduled time.<br /><br/>
                          </li>
                        </ul>

                        <p style="size: 20px"><strong>Safe and Secure Doorstep Banking:</strong></p><ul>
                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                          Our representatives carry valid identification badges for your peace of mind.
                      </li>
                      <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                        Secure cash handling procedures are strictly followed
                    </li>
                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                      Your privacy and confidentiality are always our priority
                  </li>
                    </ul>



                        
                        
                        </div>
                    <div class="clearfix"></div>
                </div>
               <div class="abt-pos" style="top: 87%;">
                    <div class="col-md-6  about-left">
                        <h3 class="title">&nbsp;</h3>
                        <p class="about-bottom">
                        </p>
                        <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- //about -->
    {% endblock %}