{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>HBF Nidhi Ltd.| Doorstep Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="HBF NIDHI" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href={% static "web/css/bootstrap.css" %} type="text/css" rel="stylesheet" media="all">
    <!-- gallery smoothbox -->
    <link rel="stylesheet" href={% static "web/css/smoothbox.css" %} type='text/css' media="all" />
    <!-- team deoslide -->
    <link rel="stylesheet" href={% static "web/css/jquery.desoslide.css" %}>
    <link href={% static "web/css/style.css" %} type="text/css" rel="stylesheet" media="all">
    <link href={% static "web/css/font-awesome.css" %} rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
</head>
<body>
<script src='../../../../../../../ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script src="../../../../../../../m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
  	}
})();
</script>
<script>
(function(){
if(typeof _bsa !== 'undefined' && _bsa) {
	// format, zoneKey, segment:value, options
	_bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
}
})();
</script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
  	}
})();
</script>
<script>
	(function(v,d,o,ai){ai=d.createElement("script");ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, "../../../../../../../vdo.ai/core/w3layouts/vdo.ai.js");
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125810435-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125810435-1');
</script><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../../../../../www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-30027142-1', 'w3layouts.com');
  ga('send', 'pageview');
</script>
<body>
    <div class="top-nav">
        <div class="container">
            <div class="navbar-top">
                <div class="nav-top-left">
                    <ul>
                        <li>
                            <a href="/customer/" class="log">Login</a>
                        </li>
                        <li>
                            <a href="/registration/" class="log">register</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-top-right">
                    <ul>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>+91-9971-337-447</li>
                        <li>
                            <i class="fa fa-envelope-o list-icon" aria-hidden="true"></i>
                            <a href="mailto:Info@hbfnidhi.com">Info@hbfnidhi.com</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- nav-bottom -->
        <div class="inner-header">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a href="/"  title="HBF NIDHI Ltd.">
                             <img src={% static "web/images/logo.png" %} alt="HBF NIDHI Ltd.">
                        </a>
                    </h1>
                </div>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                       <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">About</a>
                        </li>
                        <li class="active">
                            <a href="/">Product</a>
                        </li>
                        <li>
                            <a href="/">Team</a>
                        </li>
                        <li>
                            <a href="/">Career</a>
                        </li>
                        <li>
                            <a href="/" class="scroll">Faq</a>
                        </li>
                        <li>
                            <a href="/">contact</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </nav>
        </div>
    </div>
    <!--/nav ends here-->
    <!--about -->
    <div id="about" class="section">
        <div class="abt-container">
            <fieldset>
                <legend>Doorstep Services</legend>
                <div class="stats-info" style="padding: 0 0em 12em;">
                    <div class="col-sm-12 col-xs-12">
                        Get pick-up and delivery services for cash and instruments, right at your doorstep<br/><br/>
                        There is an increasing expectation from customers for better service from their banks. The availability of ATMs for 24-hour banking is also not seen as sufficient. More and more customers look for getting banking transactions done sitting in their homes or offices. This has led to the concept of Doorstep Banking getting more and more volumes.<br/><br/>
                        While, the services to be offered are simple; the timeliness and urgency towards the customer poses a big challenge specifically because the geographical reach are very important.<br/><br/>
                        These services are already being handled well through phone calls and third-party service providers. However, to handle higher volumes with reduced errors we have evolved the Doorstep Banking solution.<br/><br/>
                        As also defined in Regulatory guidelines, Banks now offer the following banking services to all of their customers at their doorstep:<br/><br/>
                        <ul>
                          <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                            Cash pick-up and delivery
                          </li>
                          <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                            Instruments/Cheque pick up
                          </li>
                          <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                            Instruments/Cheque pick up<br /><br/>
                          </li>
                        </ul>
                        In order to manage / track/ evaluate these services centrally, there is need of robust system integrating central unit, hub branches, spoke branches & service provider agency. This system should enable the faster mode of communication between central unit, hub branches, service provider & customer thus reducing the turnaround time so that each customer is serviced effectively.<br/><br/>
                        HBF provide a doorstep services in India. where we start our first phase from Noida second Lucknow Third Phase NCR and forth Allahbad. Entire four phases we will cover within three years.<br/><br/>
                        Our doorstep banking facility help to our members banking solution at their home . We will provide deposit, withdrawal, statement and other services at their home.<br/><br/>
                        In future, our organization will provide doorstep Micro ATM Services also.
                        <br/><br/>
                        <p style="size: 20px"><strong>Condition</strong></p>
                          Services only for our members.<br/><br/>
                          Number of times cash collecting transactions from customer's home will vary for everyone according to their Transaction volume.
                        </div>
                    <div class="clearfix"></div>
                </div>
               <div class="abt-pos" style="top: 87%;">
                    <div class="col-md-6  about-left">
                        <h3 class="title">&nbsp;</h3>
                        <p class="about-bottom">
                        </p>
                        <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- //about -->
    <!-- copy right -->
    <p class="footer-class">© 2019 HBF Nidhi Ltd. All Rights Reserved | Design by
        <a href="https:\\www.techlopers.com" target="_blank">Techlopers Solution Pvt. Ltd.</a>
    </p>
    <!-- //copy right -->
    <!-- js -->
    <script src={% static "web/js/jquery-2.2.3.min.js" %}></script>
    <!-- //js -->
    <!-- about numscroller -->
    <script src={% static "web/js/numscroller-1.0.js" %}></script>
    <!-- //about numscroller -->
    <!-- banner Slider starts Here -->
    <script src={% static "web/js/responsiveslides.min.js" %}></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //banner slider script ends -->
    <!-- sign in and signup pop up toggle script -->
    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms  
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
    <!-- sign in and signup pop up toggle script -->
    <!-- team desoslide-JavaScript -->
    <script src={% static "web/js/jquery.desoslide.js" %}></script>
    <script>
        $('#demo1_thumbs').desoSlide({
            main: {
                container: '#demo1_main_image',
                cssClass: 'img-responsive'
            },
            effect: 'sideFade',
            caption: true
        });
    </script>
    <!-- //team desoslide-JavaScript -->
    <!-- Flexslider-js for-testimonials -->
    <script src={% static "web/js/jquery.flexisel.js" %}></script>
    <script>
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 1,
                animationSpeed: 1000,
                autoPlay: false,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 1
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 1
                    }
                }
            });

        });
    </script>
    <!-- //Flexslider-js for-testimonials -->
    <!-- start-smooth-scrolling -->
    <script src={% static "web/js/move-top.js" %}></script>
    <script src={% static "web/js/easing.js" %}></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src={% static "web/js/SmoothScroll.min.js" %}></script>
    <script src={% static "web/js/smoothbox.jquery2.js" %}></script>
    <script src={% static "web/js/bootstrap.js" %}></script>
</body>
</html>
