{% extends 'web/layouts/base.html' %}
{% load static %}
{% block content %}    
<!--about -->
    <div id="about" class="section" style="padding: 0em 0;">
        <div class="abt-container">
            <div class="faq-info">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#testi" aria-controls="testi" role="tab" data-toggle="tab" style="font-size: 15px;">Fixed Deposit</a>
                    </li>
                    
                    
                    <li role="presentation">
                        <a href="#test2" aria-controls="test2" role="tab" data-toggle="tab" style="font-size: 15px;">Bitiya Nidhi Dhan Yojana(Scheme)</a>
                    </li>


                    <li role="presentation">
                        <a href="#test3" aria-controls="test3" role="tab" data-toggle="tab" style="font-size: 15px;"> Senior Citizen Fixed Deposit </a>
                    </li>
                    
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="testi">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>Fixed Deposit: </legend>
                                    <div class="stats-info" style="padding: 0 0em 8em;">
                                        <div class="col-sm-12 col-xs-12">
                                            <p style="font-size: 20px;"><strong>We offer superior fixed deposit rates compared to those offered by traditional bank FDs.</strong></p>
                                            FDs, also called term deposits or time deposits, are financial instruments offered by HBF Nidhi. It allows individuals to deposit a sum of money for a fixed period at a predetermined interest rate that is generally higher than a regular savings account. Here’s a detailed description to help you understand fixed deposits clearly: <br> <br>
                                           
                                            
                                            
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Fixed Tenure: </strong> FDs have a fixed maturity period, which can range from one year to five years. Once you deposit the money, you cannot withdraw it before the maturity date since we are offering non breakable FDs only .</span>
                                                </li>
                                                
                                                <li>
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                <strong>Fixed Interest Rate:   </strong>The interest rate for the FD is determined at the time of deposit and remains constant throughout the deposit period. HBF Nidhi offers competitive interest rates of 9% , 9.75% & 11% for investments held for one year, three years and five years respectively.</span>
                                            </li>
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Interest Payment Options:   </strong>Interest can be paid along with the principal at maturity, depending on the terms agreed upon at the time of opening the FD.</span>
                                                </li>
                                                <li>
                                                    <i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Safety and Security:  </strong> FDs are considered safe investments in HBF NIDHI where ,we  protect depositors' funds.</span>
                                                </li>
                                                <li>
                                                    <i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Stable Returns :</strong> FDs offer stable returns with predictable interest income, making them suitable for individuals looking for low-risk investment options.</span>
                                                </li>
                                                <li>
                                                    <i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>	Preservation of Capital:   </strong>The principal amount invested in an FD remains secure and is not subject to market fluctuations like stocks or mutual funds.</span>
                                                </li>

                                                <li>
                                                    <i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Interest Rates:    </strong>Depending on the terms agreed upon at the time of opening the FD .</span>
                                                </li></ul> <br>
                                            
                                            
                                           

                                                
                                                
                                            
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 85%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>

                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                  
                    <div role="tabpanel" class="tab-pane" id="test2">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>Bitiya Nidhi Dhan Yojana</legend>
                                    <div class="stats-info" style="padding: 0 0em 12em;">
                                        <div class="col-sm-12 col-xs-12 ">
                                            <strong>
                                            "Securing Futures, Investing in Daughters:</strong><br/> <br>
                                            The "Betiyaan Nidhi Dhan Yojna" by HBF Nidhi Limited is a scheme aimed at promoting savings specifically for the benefit of girls or daughters . <br/><br/> <br>
                                             <p style="font-size: 20px;"><strong>Features of HBF Bitiya Nidhi Dhan Yojana</strong></p>
                                            <ul>
                                                <!-- <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Covers your girl child aging from 0 year – 25 Years 11 Months 29 days.</li> -->

                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Competitive Interest Rate: </strong>The scheme offers a high interest rate of 12% per annum, which is quite attractive compared to standard bank deposit rates.</span>
                                                </li>

                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Long-term Investment: </strong>With a tenure of 5 years, the scheme encourages long-term savings and offers the benefit of compounding interest.</span>
                                                </li>

                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Savings for Daughters:  </strong> It is designed with the intention of encouraging savings specifically for the future financial needs of daughters.</span>
                                                </li>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 77%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>
                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>



                    <div role="tabpanel" class="tab-pane" id="test3">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>Senior Citizen Fixed Deposit</legend>
                                    <div class="stats-info" style="padding: 0 0em 12em;">
                                        <div class="col-sm-12 col-xs-12 ">
                                            <strong>
                                                Secure Your Golden Years with Senior Citizen Fixed Deposits</strong><br/> <br>
                                                Senior citizens are eligible for additional benefits such as higher interest rates compared to regular fixed deposits. Available exclusively for senior citizens, typically defined as individuals aged 60 years or above. The deposit is typically non-breakable, meaning premature withdrawal may not be allowed or may incur penalties. This ensures that the deposit remains intact for the chosen tenure, providing stability and commitment to the investment. HBF Nidhi offers competitive interest rates 9.9% , & 11.5% for investments held for three years and five years respectively. <br/><br/> <br>
                                            
                                            
                                                   
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 77%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>
                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        </div>
    
    <!-- //about -->
{% endblock %}