{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>HBF Nidhi Ltd.| Fixed Deposit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="HBF NIDHI" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href={% static "web/css/bootstrap.css" %} type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href={% static "web/css/smoothbox.css" %} type='text/css' media="all" />
    <link rel="stylesheet" href={% static "web/css/jquery.desoslide.css" %}>
    <link href={% static "web/css/style.css" %} type="text/css" rel="stylesheet" media="all">
    <link href={% static "web/css/font-awesome.css" %} rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
</head>
<body>
<script src='../../../../../../../ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script><script src="../../../../../../../m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125810435-1"></script>
<body>
    <div class="top-nav">
        <div class="container">
            <div class="navbar-top">
                <div class="nav-top-left">
                    <ul>
                        <li>
                            <a href="/customer/" class="log">Login</a>
                        </li>
                        <li>
                            <a href="/registration/" class="log">register</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-top-right">
                    <ul>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>+91-9971-337-447</li>
                        <li>
                            <i class="fa fa-envelope-o list-icon" aria-hidden="true"></i>
                            <a href="mailto:Info@hbfnidhi.com">Info@hbfnidhi.com</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- nav-bottom -->
        <div class="inner-header">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a href="/"  title="HBF NIDHI Ltd.">
                             <img alt="HBF NIDHI Ltd." src={% static "web/images/logo.png" %}>
                        </a>
                    </h1>
                </div>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                       <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">About</a>
                        </li>
                        <li class="active">
                            <a href="/">Product</a>
                        </li>
                        <li>
                            <a href="/">Team</a>
                        </li>
                        <li>
                            <a href="/">Career</a>
                        </li>
                        <li>
                            <a href="/" class="scroll">Faq</a>
                        </li>
                        <li>
                            <a href="/">contact</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </nav>
        </div>
    </div>
    <!--/nav ends here-->
    <!--about -->
    <div id="about" class="section" style="padding: 0em 0;">
        <div class="abt-container">
            <div class="faq-info">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#testi" aria-controls="testi" role="tab" data-toggle="tab" style="font-size: 15px;">Non- Breakable Scheme</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" style="font-size: 15px;">Breakable Scheme &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    <li role="presentation">
                        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" style="font-size: 15px;">Non- Breakable Scheme(Sr. Citizens)</a>
                    </li>
                    <li role="presentation">
                        <a href="#test2" aria-controls="messages" role="tab" data-toggle="tab" style="font-size: 15px;">Bitiya Nidhi Dhan Yojana(Scheme)</a>
                    </li>
                    <li role="presentation">
                        <a href="#test3" aria-controls="messages" role="tab" data-toggle="tab" style="font-size: 15px;">MONTHLY INCOME PLAN (MIP)</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="testi">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>Fixed Deposit: Non- Breakable Scheme</legend>
                                    <div class="stats-info" style="padding: 0 0em 8em;">
                                        <div class="col-sm-12 col-xs-12">
                                            <p style="font-size: 20px;"><strong>Fixed Deposit: Non- Breakable Scheme</strong></p>
                                            HBF Fixed deposits (FDs) are an attractive mode of parking one's money safely. It offers security in terms of savings on one's income.<br/><br/>
                                            Non-breakable Fixed Deposit as the name suggests cannot be withdrawn prematurely. In other words, Fixed Deposit cannot be broken before maturity date.<br/><br/>
                                            <p style="font-size: 20px;"><strong>Earn attractive interest for various tenures on your deposits as listed under:</strong></p>
                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered text-center">
                                                    <thead>
                                                        <tr>
                                                            <th>Tenure</th>
                                                            <th>Interest Rate (Quarterly  Compounding)</th>
                                                            <!--<th>Monthly Interest Scheme- Normal</th>-->
                                                            <th>Interest Rate Citizen (Annual Yield)</th>
                                                            <!--<th>Monthly Interest Scheme - Senior Citizen</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td> 6 Months</td>
                                                            <td>7.297%</td>
                                                            <!--<td>07.35%</td>-->
                                                            <td>7.5%</td>
                                                            <!--<td>07.61%</td>-->
                                                        </tr>
                                                        <tr>
                                                            <td>12 Months</td>
                                                            <td>7.40%</td>
                                                            <!--<td>07.35%</td>-->
                                                            <td>07.61%</td>
                                                            <!--<td>07.61%</td>-->
                                                        </tr>
                                                        <tr>
                                                            <td>24 Months</td>
                                                            <td>7.77%</td>
                                                            <!--<td>07.46%</td>-->
                                                            <td>08.00%</td>
                                                            <!--<td>07.72%</td>-->
                                                        </tr>
                                                        <tr>
                                                            <td>36 Months</td>
                                                            <td>8.14%</td>
                                                            <!--<td>07.61%</td>-->
                                                            <td>08.40%</td>
                                                            <!--<td>07.88%</td>-->
                                                        </tr>
                                                        <tr>
                                                            <td>48 Months</td>
                                                            <td>8.59%</td>
                                                            <!--<td>08.00</td>-->
                                                            <td>08.88%</td>
                                                            <!--<td>8.25%</td>-->
                                                        </tr>
                                                        <tr>
                                                            <td>60 Months</td>
                                                            <td>9.59%</td>
                                                            <!--<td>08.25%</td>-->
                                                            <td>09.95%</td>
                                                            <!--<td>08.50%</td>-->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <p style="font-size: 20px;"><strong>Features</strong></p>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    Guaranteed Returns
                                                </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    Higher rate of Interest compounded Quarterly.
                                                </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Quick Loan against deposits</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Prompt Doorstep Assistance through our well experienced staff.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Tax is deducted at source, from interest on Fixed Deposits as applicable, as per the Income Tax Act, 1961. </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Nomination facility available. </li>
                                            </ul>
                                            <p style="font-size: 20px;"><strong>Procedure for appointment of nominee:</strong></p>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    Individual, single or joint account holders can appoint nominee. Hindu undivided family, trust, society etc. cannot appoint a nominee.
                                                </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    The nominee must also be an individual.
                                                </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    It is advisable to appoint a nominee as there will be less trouble in transferring the money in an event of the account holder’s death.
                                                </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    Only one person can be appointed as the nominee (in case of joint accounts also).
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 85%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>

                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>Fixed Deposit: Breakable Scheme</legend>
                                    <div class="stats-info" style="padding: 0 0em 12em;">
                                        <div class="col-sm-12 col-xs-12 ">
                                            HBF Fixed deposits (FDs) are an attractive mode of parking one's money safely. It offers security in terms of savings on one's income.<br/><br/>
                                            Breaking a fixed deposit means withdrawing the money before the maturity expires. It is also called as premature withdrawal from Fixed Deposit. This may be necessary if you urgently require the funds.<br/><br/>
                                            <p style="font-size: 20px;"><strong>Earn attractive interest for various tenures on your deposits as listed under:</strong></p>
                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered text-center">
                                                    <thead>
                                                        <tr>
                                                            <th>Tenure</th>
                                                            <th>Interest Rate (Quarterly  Compounding)</th>
                                                            <th>Interest Rate Citizen (Annual Yield)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td> 6 Months to 24 Months</td>
                                                            <td>7.297%</td>
                                                            <td>7.5%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Above 24 Months to 48 Months</td>
                                                            <td>7.77%</td>
                                                            <td>8.00%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Above 48 Months to 60 Months</td>
                                                            <td>8.59%</td>
                                                            <td>08.88%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <p style="font-size: 20px;"><strong>Procedure of Breaking Fixed Deposits at Branch Level</strong></p>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> No foreclosure shall be allowed within 6 months of deposit.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> For foreclosure after 6 Months, request is to be submitted by depositor at the branch mentioning that you want to break your FD. </li>
                                            </ul>
                                            <p style="font-size: 20px;"><strong>Important Points:</strong></p>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    In case of premature closure of fixed deposits i.e., before maturity, instead of contracted rate Interest will be paid on deposit at applicable rate prevailing on the date of opening of deposit less 2% for the period for which deposit actually remained with HBF Nidhi Limited.<br>
                                                    For example, suppose you opened the FD for 3 years originally, and the interest rate offered was 8% Now if you closed the FD in 1 Year, and if the interest rate for 1 Year FD was 7.5%, then you will get only 5.5% (7.5% minus 2%) interest for the period of your fixed deposit.
                                                </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    In case of death of a depositor the amount will be paid by the company to Nominee / Legal Heir / Surviving depositor, without any premature closer penalty. 
                                                </li>
                                            </ul>
                                            <p style="font-size: 20px;"><strong>Features</strong></p>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Guaranteed Returns</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Higher rate of Interest compounded Quarterly.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Quick Loan against deposits</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Prompt Doorstep Assistance through our well experienced staff.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Tax is deducted at source, from interest on Fixed Deposits as applicable, as per the Income Tax Act, 1961. </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Nomination facility available. </li>
                                            </ul>
                                            <p style="font-size: 20px;"><strong>Procedure for appointment of nominee:</strong></p>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Individual, single or joint account holders can appoint nominee. Hindu undivided family, trust, society etc. cannot appoint a nominee.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> The nominee must also be an individual.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> It is advisable to appoint a nominee as there will be less trouble in transferring the money in an event of the account holder’s death.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Only one person can be appointed as the nominee (in case of joint accounts also).</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 87%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>

                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>Non- Breakable Scheme: Sr. Citizens</legend>
                                    <div class="stats-info" style="padding: 0 0em 12em;">
                                        <div class="col-sm-12 col-xs-12 ">
                                            Senior Citizen Fixed Deposits (FDs) are customized term deposit plans that allow those above 60 to get maximum returns out of their investment.<br/><br/>
                                            HBF offer higher interest rates for this age group, making FDs a lucrative option. These types of deposits are referred to as senior citizen fixed deposits.<br/><br/>
                                            Non-breakable Scheme as the name suggests cannot be withdrawn prematurely. In other words, one cannot break their fixed deposit before the end of maturity period.<br/><br/>
                                            <p style="font-size: 20px;">Earn attractive interest for various tenures on your deposits as listed under:</p>
                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered text-center">
                                                    <thead>
                                                        <tr>
                                                            <th>Tenure</th>
                                                            <th>Interest Rate (Quarterly  Compounding)</th>
                                                            <th>Interest Rate Citizen (Annual Yield)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td> 6 Months</td>
                                                            <td>7.297%</td>
                                                            <td>07.5%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12 Months</td>
                                                            <td>7.65%</td>
                                                            <td>07.88%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>24 Months</td>
                                                            <td>8.02%</td>
                                                            <td>08.27%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>36 Months</td>
                                                            <td>8.49%</td>
                                                            <td>08.77%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>48 Months</td>
                                                            <td>8.85%</td>
                                                            <td>09.15%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>60 Months</td>
                                                            <td>9.94%</td>
                                                            <td>10.32%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <p style="font-size: 20px;"><strong>Features</strong></p>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Guaranteed Returns</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Higher rate of Interest compounded Quarterly.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Quick Loan against deposits</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Prompt Doorstep Assistance through our well experienced staff.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Tax is deducted at source, from interest on Fixed Deposits as applicable, as per the Income Tax Act, 1961. </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Nomination facility available. </li>
                                            </ul>
                                            <p style="font-size: 20px;"><strong>Procedure for appointment of nominee:</strong></p>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Individual, single or joint account holders can appoint nominee. Hindu undivided family, trust, society etc. cannot appoint a nominee.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> The nominee must also be an individual.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> It is advisable to appoint a nominee as there will be less trouble in transferring the money in an event of the account holder’s death.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Only one person can be appointed as the nominee (in case of joint accounts also).</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 86%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>
                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="test2">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>Bitiya Nidhi Dhan Yojana: Non-Breakable</legend>
                                    <div class="stats-info" style="padding: 0 0em 12em;">
                                        <div class="col-sm-12 col-xs-12 ">
                                            <h4>Bitiya Nidhi Dhan Yojana (Scheme): Non-Breakable</h4>
                                            (For Limited Period Only)<br/>
                                            Bitiya Nidhi Dhan Yojana (Scheme) is a fixed deposit scheme meant exclusively to secure the future of your girl child. The scheme is meant to meet the education and marriage expenses of a girl child.<br/><br/>
                                             <p style="font-size: 20px;"><strong>Features of HBF Bitiya Nidhi Dhan Yojana</strong></p>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Covers your girl child aging from 0 year – 25 Years 11 Months 29 days.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Secure Your Daughter’s Future by saving for their Education, Marriage, & other Financial Securities.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Offers lucrative interest rates at 11% for a fixed tenure of 5 years.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Allows you to Investment from INR 5000 to INR 10, 00,000 per girl child.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> No Loan Facility is available because it’s especially for girl child.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Tax is deducted at source, from interest on Fixed Deposits as applicable, as per the Income Tax Act, 1961.</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 77%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>
                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="test3">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>Monthly Income Plan (MIP)</legend>
                                    <div class="stats-info" style="padding: 0 0em 12em;">
                                        <div class="col-sm-12 col-xs-12 ">
                                            h4>MONTHLY INCOME PLAN (MIP)</h4>
                                            HBF Nidhi , Monthly Income Plan assures guaranteed fixed monthly income for next 5 years. The MIP offers both secure Fixed Deposits and regular monthly income with higher returns.
                                            <p style="font-size: 20px"><strong>Earn attractive interest for various tenures on your deposits as listed under:</strong></h5>
                                            <p style="font-size: 20px;">NORMAL INTEREST RATE SLAB</p>
                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered text-center">
                                                    <thead>
                                                        <tr>
                                                            <th>Term</th>
                                                            <th>Normal Interest rate(Monthly Compounding)</th>
                                                            <!--<th>Monthly Interest Scheme- Normal</th>-->
                                                            <th>Normal interest rate(Annualized yield)</th>
                                                            <!--<th>Monthly Interest Scheme - Senior Citizen</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td> 1 year</td>
                                                            <td>7.35%</td>
                                                            <!--<td>07.35%</td>-->
                                                            <td>7.6027%</td>
                                                            <!--<td>07.61%</td>-->
                                                        </tr>
                                                        <tr>
                                                            <td>2 year</td>
                                                            <td>7.46%</td>
                                                            <!--<td>07.35%</td>-->
                                                            <td>7.7204%</td>
                                                            <!--<td>07.61%</td>-->
                                                        </tr>
                                                        <tr>
                                                            <td>3 year</td>
                                                            <td>7.61%</td>
                                                            <!--<td>07.46%</td>-->
                                                            <td>7.88%</td>
                                                            <!--<td>07.72%</td>-->
                                                        </tr>
                                                        <tr>
                                                            <td>4 year</td>
                                                            <td>8.00%</td>
                                                            <!--<td>07.46%</td>-->
                                                            <td>8.30%</td>
                                                            <!--<td>07.72%</td>-->
                                                        </tr>
                                                        <tr>
                                                            <td>5 year</td>
                                                            <td>8.25%</td>
                                                            <!--<td>07.46%</td>-->
                                                            <td>8.5692%</td>
                                                            <!--<td>07.72%</td>-->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <p style="font-size: 20px">INTEREST SLAB FOR SR. CITIZENS </p>
                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered text-center">
                                                    <thead>
                                                        <tr>
                                                            <th>Term</th>
                                                            <th>Senior citizen interest rate(Monthly Compounding)</th>
                                                            <!--<th>Monthly Interest Scheme- Normal</th>-->
                                                            <th>Senior citizen interest rate(Annualized yield)</th>
                                                            <!--<th>Monthly Interest Scheme - Senior Citizen</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td> 1 year</td>
                                                            <td>7.61%</td>
                                                            <!--<td>07.35%</td>-->
                                                            <td>7.88%</td>
                                                            <!--<td>07.61%</td>-->
                                                        </tr>
                                                        <tr>
                                                            <td>2 year</td>
                                                            <td>7.72%</td>
                                                            <!--<td>07.35%</td>-->
                                                            <td>7.9991%</td>
                                                            <!--<td>07.61%</td>-->
                                                        </tr>
                                                        <tr>
                                                            <td>3 year</td>
                                                            <td>7.88%</td>
                                                            <!--<td>07.46%</td>-->
                                                            <td>8.17%</td>
                                                            <!--<td>07.72%</td>-->
                                                        </tr>
                                                        <tr>
                                                            <td>4 year</td>
                                                            <td>8.25%</td>
                                                            <!--<td>07.46%</td>-->
                                                            <td>8.5692%</td>
                                                            <!--<td>07.72%</td>-->
                                                        </tr>
                                                        <tr>
                                                            <td>5 year</td>
                                                            <td>8.50%</td>
                                                            <!--<td>07.46%</td>-->
                                                            <td>8.8391%</td>
                                                            <!--<td>07.72%</td>-->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered text-center">
                                                    <thead>
                                                        <tr>
                                                            <th>INVESTMENT</th>
                                                            <th>Term</th>
                                                            <th>Normal interest rate(Annualized yield)</th>
                                                            <!--<th>Monthly Interest Scheme- Normal</th>-->
                                                            <th>MONTHLY RECEIVED</th>
                                                            <!--<th>Monthly Interest Scheme - Senior Citizen</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1 cr</td>
                                                            <td> 5 year</td>
                                                            <td>9%</td>
                                                            <!--<td>07.35%</td>-->
                                                            <td>75000</td>
                                                            <!--<td>07.61%</td>-->
                                                        </tr>
                                                    </tbody>
                                            </table>
                                        </div>
                                        <p>The below illustration shows the amount received on monthly basis against the investment made under Monthly Income Plan:</p>
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered text-center">
                                                <thead>
                                                    <tr>
                                                        <th>INVESTMENT</th>
                                                        <th>Term</th>
                                                        <th>MONTHLY RECEIVED</th>
                                                        <!--<th>Monthly Interest Scheme- Normal</th>-->
                                                        <th>MATURITY</th>
                                                        <!--<th>Monthly Interest Scheme - Senior Citizen</th>-->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1 cr</td>
                                                        <td> 5 year</td>
                                                        <td>68750</td>
                                                        <!--<td>07.35%</td>-->
                                                        <td>1 cr</td>
                                                        <!--<td>07.61%</td>-->
                                                    </tr>
                                                    <tr>
                                                        <td>50 LAKH</td>
                                                        <td> 5 year</td>
                                                        <td>34375</td>
                                                        <!--<td>07.35%</td>-->
                                                        <td>50 LAKH</td>
                                                        <!--<td>07.61%</td>-->
                                                    </tr>
                                                    <tr>
                                                        <td>15 LAKH</td>
                                                        <td> 5 year</td>
                                                        <td>10312</td>
                                                        <!--<td>07.35%</td>-->
                                                        <td>15 LAKH</td>
                                                        <!--<td>07.61%</td>-->
                                                    </tr>
                                                    <tr>
                                                        <td>2.5 LAKH</td>
                                                        <td> 5 year</td>
                                                        <td>1718</td>
                                                        <!--<td>07.35%</td>-->
                                                        <td>2.5 LAKH</td>
                                                        <!--<td>07.61%</td>-->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h5><strong>*The above is as per the Normal Interest Rate</strong></h5>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 89%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>
                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- //about -->
    <!-- copy right -->
    <p class="footer-class">© 2019 HBF Nidhi Ltd. All Rights Reserved | Design by
        <a href="https:\\www.techlopers.com" target="_blank">Techlopers Solution Pvt. Ltd.</a>
    </p>
    <!-- //copy right -->
    

    <!-- js -->
    <script src={% static "webjs/jquery-2.2.3.min.js" %}></script>
    <!-- //js -->
    <!-- about numscroller -->
    <script src={% static "web/js/numscroller-1.0.js" %}></script>
    <!-- //about numscroller -->
    <!-- banner Slider starts Here -->
    <script src={% static "web/js/responsiveslides.min.js" %}></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //banner slider script ends -->
    <!-- sign in and signup pop up toggle script -->
    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms  
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
    <!-- sign in and signup pop up toggle script -->
    <!-- team desoslide-JavaScript -->
    <script src={% static "web/js/jquery.desoslide.js" %}></script>
    <script>
        $('#demo1_thumbs').desoSlide({
            main: {
                container: '#demo1_main_image',
                cssClass: 'img-responsive'
            },
            effect: 'sideFade',
            caption: true
        });
    </script>
    <!-- //team desoslide-JavaScript -->
    <!-- Flexslider-js for-testimonials -->
    <script src={% static "web/js/jquery.flexisel.js" %}></script>
    <script>
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 1,
                animationSpeed: 1000,
                autoPlay: false,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 1
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 1
                    }
                }
            });

        });
    </script>
    <!-- //Flexslider-js for-testimonials -->
    <!-- start-smooth-scrolling -->
    <script src={% static "web/js/move-top.js" %}></script>
    <script src={% static "web/js/easing.js" %}></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src={% static "web/js/SmoothScroll.min.js" %}></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- gallery smoothbox -->
    <script src={% static "web/js/smoothbox.jquery2.js" %}></script>
    <!-- //gallery smoothbox -->
    <!-- Bootstrap core JavaScript
 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={% static "web/js/bootstrap.js" %}></script>
</body>
</html>