{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
   
    <title>HBF Nidhi Ltd.| Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="HBF NIDHI" />
    
    
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    
    <style>
    /* Style for the main dropdown */
.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown1 > a {
    color: black; /* Change as per your design */
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
}



.dropdown-menu1 {
    display: none; /* Hide by default */
    position: absolute;
    background-color: #f9f9f9; /* Background color of the dropdown */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow for dropdown */
    z-index: 1;
    min-width: 160px; /* Adjust width as needed */
}

.dropdown-menu1 li {
    list-style-type: none; /* Remove default list styling */
}

.dropdown-menu1 li a {
    color: black; /* Change link color as per your design */
    padding: 10px 15px; /* Adjust padding as needed */
    text-decoration: none;
    display: block;
}

.dropdown-menu1 li a:hover {
    background-color: #ddd; /* Background color on hover */
}

.dropdown1:hover .dropdown-menu1 {
    display: block;
}

/* Style for the sub-dropdown */
.dropdown-submenu1 {
    position: relative;
}


.dropdown-menu2 {
    display: none; /* Hide by default */
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #f9f9f9; /* Background color of the sub-dropdown */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow for sub-dropdown */
    z-index: 1;
    min-width: 160px; /* Adjust width as needed */
}

.dropdown-submenu1:hover .dropdown-menu2 {
    display: block; /* Show the sub-dropdown on hover */
}
</style>
    
    <link rel="icon" href={% static "web/images/logo.png" %}>
    <link href={% static "web/css/bootstrap.css" %} type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href={% static "web/css/smoothbox.css" %} type='text/css' media="all" />
    <link rel="stylesheet" href={% static "web/css/jquery.desoslide.css" %}>
    <link href={% static "web/css/style.css" %} type="text/css" rel="stylesheet" media="all">
    <link href={% static "web/css/font-awesome.css" %} rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    
    
</head>
<body>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125810435-1"></script>

<body>
    <div class="top-nav ">
        <div class="container">
            <div class="navbar-top">
                <div class="nav-top-left">
                    <ul>
                        <li>
                            <a href="/customer/" class="log">Login</a>
                        </li>
                        <li>
                            <a href="/registration/" class="log">register</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-top-right">
                    <ul>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>+91-9971-337-447</li>
                        <li>
                            <i class="fa fa-envelope-o list-icon" aria-hidden="true"></i>
                            <a href="mailto:Info@hbfnidhi.com">Info@hbfnidhi.com</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- nav-bottom -->
        <div class="inner-header">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                   
                    <h1>
                       <a href="#"  title="HBF NIDHI Ltd.">
                             <img alt="HBF NIDHI Ltd." src={% static "web/images/logo.png" %} >
                        </a>
                    </h1>
                </div>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 ">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="#about" class="scroll">About</a>
                        </li>
                        <li>
                            <a href="#services" class="scroll">Product</a>
                        </li>
                        
                        

                        <li class="dropdown1">
                            <a>Services </a>
                            <ul class="dropdown-menu1">
                                <li class="dropdown-submenu1">
                                    <a href="/loans/">Loan Products </a>
                                    <ul class="dropdown-menu2">
                                        <li><a href="gold-loan">Gold Loan</a></li>
                                        <li><a href="loan-against-insurance-policy">Loan against Insurance Policy</a></li>
                                        <li><a href="deposit-receipt">Loan against deposit receipt</a></li>
                                        <li><a href="loan-against-govt-bond">Loan against Govt. Bond</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>


                        <li class="dropdown1">
                            <a>Investment Schemes </a>
                            <ul class="dropdown-menu1">
                                <li class="dropdown-submenu1">
                                    <a href="/fixed/">Fixed Deposit </a>
                                </li>
                                <li class="dropdown-submenu1">
                                    <a href="/monthly-income-plan/">Monthly Income Plan</a>
                                </li>
                                <li class="dropdown-submenu1">
                                    <a href="/recurring/">Recurring Deposit </a>
                                </li>
                            </ul>
                        </li> 
                        
                        
        

                        <li>
                            <a href="#team" class="scroll">Team</a>
                        </li>
                        <li>
                            <a href="#testimonials" class="scroll">Career</a>
                        </li>
                        <li>
                            <a href="#gallery" class="scroll">Faq</a>
                        </li>
                        <li>
                            <a href="#contact" class="scroll">contact</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </nav>
        </div>
    </div>
    <!--/nav ends here-->
    <!-- banner -->
    <div class="banner">
        <!-- <div class="banner-right">
            <img src={% static "web/images/new.png" %} alt="" class="img-responsive" />
        </div> -->
        <div class="banner-text">
            <div id="top" class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <div class="banner-textagileinfo">
                            <h6>Welcome To HBF NIDHI</h6>
                            <h3>Empowering members through prudent savings</h3>
                            

                        </div>
                    </li>
                    <li>
                        <div class="banner-textagileinfo">
                            <h6>Welcome to HBF Nidhi</h6>
                            <h3>Your trusted partner in financial security and growth</h3>
                            

                        </div>
                    </li>
                    <li>
                        <div class="banner-textagileinfo">
                            <h6>Welcome to HBF Nidhi</h6>
                            <h3>Savings-driven solutions for your financial aspiration</h3>
                            

                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
    <!-- //banner -->
    <!--about -->
    <div id="about" class="section">
        <h3 class="title-txt">
            <span>a</span>bout us</h3>
        <div class="abt-container">
            <div class="faq-info">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#testi" aria-controls="testi" role="tab" data-toggle="tab">HBF NIDHI</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Our Company</a>
                    </li>
                    <li role="presentation">
                        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Shareholders</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="testi">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>Building the Finest Quality Bank.</legend>
                                    <div class="stats-info">
                                        <div class="col-sm-3 col-xs-3 stats-grid">
                                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='324' data-delay='.5' data-increment="1">10</div>
                                            <div class="stats-img stat2">
                                                <p>branches</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-3 stats-grid">
                                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='574' data-delay='.5' data-increment="1">490</div>
                                            <div class="stats-img stat2">
                                                <p>personal loans</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-3 stats-grid stat1">
                                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='350' data-delay='.5' data-increment="1">20</div>
                                            <div class="stats-img stat2">
                                                <p>ATM's</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-3 stats-grid stat1">
                                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1974' data-delay='.5' data-increment="1">1974</div>
                                            <div class="stats-img stat2">
                                                <p>Deposit Accounts</p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos">
                                        <div class="col-md-10  about-center">
                                            <h3 class="title">About HBF Nidhi</h3>
                                            <p class="about-bottom">
                                                Founded in 2017 under the Companies Act, 2013, HBF Nidhi Limited is a Public Limited Company dedicated to operating as a Nidhi company. Our core mission is to install a culture of savings and financial responsibility among our valued members.<br>


                                                At HBF Nidhi Limited, we provide a structured platform for savings and ensure transparent, straightforward processes for financial assistance. Our business model centres around facilitating transactions exclusively within our member community. We accept deposits and extend credit to our members, encouraging widespread savings habits. Moreover, we offer credit at more affordable rates compared to traditional banks, by ensuring financial support is accessible.

                                                <br> For over seven years, HBF Nidhi Limited has effectively enhanced the social and financial well-being of its members. We achieve this through fostering cooperation, promoting savings, and providing comprehensive technical and financial support. <br>Join us at HBF Nidhi Limited as we work together to build a secure financial future.

                                            </p>
                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="col-md-4 w3ls-row">
                                            <img src={% static "web/images/a.jpg" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>OUR COMPANY</legend>
                                    <div class="stats-info" style="padding: 0 0em 2em;">
                                        <div class="col-sm-12 col-xs-12 ">
                                            <p style="color: #000; font-size: 14px;">HBF NIDHI LIMITED, a public limited company, was incorporated in 2017, recognizing the prevalent gap in addressing the basic functionality of banking to inculcate the habits of “Thrift Saving”. In line with the growing aspiration of a resurgent and developing economy of India and with the focus of financial inclusivity of the population by the present economic outlook, HBF Nidhi Limited aspires to address this opportunity with its innovative products and services. Our businesss model stands on the principles of transacting within members of the Nidhi company. We accept deposits from lend credit to our members and thus inculcte the habbit of savings among the masses and also provide credit at lower costs than traditional banks.</p><br>
                                        </div>
                                        <div class="col-sm-6 col-xs-6 ">
                                            <p>HBF Values:</p> People, Integrity, Leadership, Teamwork and Excellence Our values are the fundamentals beliefs and guiding principles of our organization. Our values define who we are.
                                        </div>
                                        <div class="col-sm-6 col-xs-6 ">
                                            <p>Integrity:</p> We believe that Integrity should be at the heart and soul of a company’s culture. We have clear commitment towards achieving professional goals and objectives through ethical conduct of our business.
                                        </div>
                                        <div class="col-sm-6 col-xs-6 ">
                                            <p>Team work:</p> We Believe in maintaining employer-employee relationships based on open communication. Our team always works with transparency & maintain ethical behavior.
                                        </div>
                                        <div class="col-sm-6 col-xs-6 ">
                                            <p>Future Vision:</p> Our Goal is to fulfill all public financial needs in order to raise our organization into small bank Covering target with more than 100cr authorized capital within a period of 5years.
                                        </div>
                                        <div class="col-sm-6 col-xs-6 ">
                                            <p>Excellence:</p> drives us to deliver what we promise and add value beyond the customer expectations. We strive to achieve excellence through keeping an open mind for learning, adopting futuristic technologies.
                                        </div>
                                        <div class="col-sm-6 col-xs-6 ">
                                            <p>Ethics:</p> our business ethical standards are higher. Ethics is an integral part of everything that we do. We believe that following an ethical behavior results in companies’ growth in both the short and long term.
                                        </div>
                                        <div class="col-sm-6 col-xs-6 ">
                                            <p>People:</p> We value our people - be it our team members or customers. We treat our team members, clients and others with whom we do business with equality, respect, dignity and politeness. People are our biggest asset and we value their development and reward their performance. We are committed towards maintaining a safe working environment that is free from any kind of discrimination, harassment and retaliation.
                                        </div>
                                        <div class="col-sm-6 col-xs-6 ">
                                            <P>Leadership</P> demands vision, courage and integrity. We believe in leading our clients towards taking apt business decisions, leading our people towards achieving excellence and thought leadership. Teamwork: Effective teamwork requires strong relationships built on the foundation of mutual respect and sharing. We believe that the best business solutions come from working together with our team members and clients.
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>SHAREHOLDERS</legend>
                                    <div class="stats-info" style="padding: 0 0em 2em;">
                                        <div class="col-sm-12 col-xs-12 ">
                                            <P>Backbone of HBF Nidhi Ltd.</P>
                                            <p style="color: #000; font-size: 14px;">HBF Nidhi Ltd. starts process with shareholders & they are not just our shareholders they are our family. Increase value of shares is a source of second income for shareholders.<br/>HBF Nidhi Ltd. is a fully organized firm that believes in transparency so that our shareholder can maintain a long-term relationship. HBF Nidhi Ltd. maintains a large number of shareholders because we work on MUTUAL BENEFITS concept.</p><br>
                                        </div>
                                        <div class="col-sm-12 col-xs-12 ">
                                            <p>Why Invest HBF Nidhi Ltd.?</p>
                                            <ul>
                                                <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i>
                                                    HBF Nidhi Ltd. works on Doorstep Banking startup. We maintain low cost of infrastructure and works with single branch concept in order to maintain profitability.
                                                </li>
                                                <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i>
                                                    HBF Nidhi Ltd. works with secure business model we only provide secured loans which leads our organization to be financially strong & secure.
                                                </li>
                                                <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i>
                                                    HBF Nidhi Ltd. only works with housing society concept, where we manage a large number of members by single employees.
                                                </li>
                                                <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i>
                                                    HBF Nidhi Ltd. takes experts advice before expansion, it reduces financial risk.
                                                </li>
                                                <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i>
                                                    HBF Nidhi Ltd. maintains reserves equal to or more than the total amount invested by shareholders.
                                                </li>
                                                <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i>
                                                    HBF Nidhi Ltd. instead of working with corporate it works with members only. So that, max shareholders can be benefited.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- //about -->
    <!-- services -->
    <div class="services section" id="services">
        <div class="container2">
            <h3 class="title-txt">
                <span>O</span>ur <span>P</span>roduct</h3>
            <h5>we offer products and services for your
                <span>personal</span> and
                <span>professional banking</span> needs.</h5>
            <div class="col-md-5 service-left-grid">
                <div class="services-left">

                    <h4> 
                        <span>HBF NIDHI Ltd.</span></h4>
                    <p>  HBF NIDHI Ltd provides differnt types of products </p>
                    <ul>
                        <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i><a href="/saving" style="font-size: 18px"> Saving Account</a></li>
                        <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i><a href="/fixed" style="font-size: 18px"> Fixed Deposit</a></li>
                        <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i><a href="/recurring" style="font-size: 18px"> Recurring Deposit</a></li>
                        <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i><a href="/loans" style="font-size: 18px"> Loans</a></li>
                        <!-- <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i><a href="#" style="font-size: 18px"> Lockers</a></li> -->
                        <!-- <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i><a href="/doorstep" style="font-size: 18px"> Doorstep Services</a></li> -->
                    </ul>
                    
                </div>
            </div>
            <div class="col-md-7 text-center agileinfo-about-grid">
                <div class="col-md-4 col-xs-4 service-subgrids">
                    <div class="w3ls-about-grid">
                        <i class="fa fa-money" style="font-size: 42px;" aria-hidden="true"></i>
                        <h6><a href="/saving/" style="color: #000">Savings Account</a></h6>
                        <p>HBF NIDHI LTD. offers an attractive savings account to our members.</p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-4 service-subgrids">
                    <div class="w3ls-about-grid">
                        <i class="fa fa-google-wallet" aria-hidden="true"></i>
                        <h6><a href="/fixed/" style="color: #0e0d0d">Fixed Deposit</a></h6>
                        <p>HBF Fixed deposits (FDs) are an attractive mode of parking one's money safely.</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4 service-subgrids">
                    <div class="w3ls-about-grid">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <h6><a href="/recurring/" style="color: #000">Recurring Deposit</a></h6>
                        <p> HBF Nidhi Ltd. Recurring Deposit is designed to help you prepare for the future.</p>
                    </div>
                </div>
                <!-- <div class="col-md-4 col-xs-4 service-subgrids">
                    <div class="w3ls-about-grid">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        <h6><a href="/loans/" style="color: #fff">Loans</a></h6>
                        <p>HBF NIDHI Ltd. provides differnt types of loans <br/><br/></p>
                    </div>
                </div> -->

                <div class="col-md-4 col-xs-4 service-subgrids">
                    <div class="w3ls-about-grid">
                        <i class="fa fa-inbox" aria-hidden="true"></i>
                        <h6><a href="/loans/" style="color: #000">Loans</a></h6>
                        <p> HBF NIDHI Ltd. provides differnt types of loans <br/><br/></p>
                    </div>
                </div>
                <!-- <div class="col-md-4 col-xs-4 service-subgrids">
                    <div class="w3ls-about-grid">
                        <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                        <h6><a href="/doorstep/" style="color: #fff">Doorstep Services</a></h6>
                        <p> Pick-up and delivery for cash and instruments,at your doorstep</p>
                    </div>
                </div> -->
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    <!-- //services -->
    <!--about manager -->
    <div class="section manager" id="manger">
        <div class="container">
            <h3 class="title-txt">
                <span>K</span>now more</h3>     
            <div class="about-main">
                <div class="col-md-4 man-grid2">
                    <h5>Ensuring there's a high level of customer service.</h5>
                    <p class="about-text-w3l">At HBF NIDHI LTD, Corporate Social Responsibility is all about developing a business model that not only creates economic value but also contributes to a healthy ecosystem and strong communities. Our endeavor is to evolve and develop appropriate business processes and strategies to achieve a common goal which contributes to the greater good.</p>
                    <!-- <h4 class="man-txt">Sachin Kumar Sheoran</h4> -->
                    <!-- <p>Founder</p> -->
                </div>

                <div class="col-md-8 ">
                <div class="col-md-5 col-sm-5 man-grid">
                    <ul>
                        <li>
                            HBF Nidhi Ltd. takes experts advice before expansion, it reduces financial risk.
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-5 man-grid">
                    <ul>
                        <li>
                            HBF Nidhi Ltd. takes experts advice before expansion, it reduces financial risk.
                        </li>
                    </ul>
                </div>
                </div>


                <div class="col-md-8 " >
                <div class=" ml-10 col-md-5 col-sm-5 man-grid  ">
                    <ul>
                        <li>
                            HBF Nidhi Ltd. takes experts advice before expansion, it reduces financial risk.
                        </li>
                    </ul>
                </div>
                </div>
                <!-- <div>
                    <ul>
                        <li>
                            HBF Nidhi Ltd. maintains reserves equal to or more than the total amount invested by shareholders.
                        </li>
                    </ul>
                </div>
                         -->

                        <!-- <li>
                            HBF Nidhi Ltd. instead of working with corporate it works with members only. So that, max shareholders can be benefited .
                        </li> -->

                    <!-- </ul>
                </div> -->
                <!-- <div class="w3ls-about-right col-md-7 col-sm-7">
                    <img class="img-responsive" src={% static "web/images/man.jpg" %} alt="about-image" />
                </div> -->
                <div class="clearfix"></div>
            </div>
            </div>
        </div>
    </div>
    <!-- //about manager -->
    



   <!-- Team -->
    <div class="team section" id="team">
        <div class="container">
            <h3 class="title-txt">
                <span>T</span>eam</h3>
            <div class="new-agileinfo">
                <div class="col-md-4 col-xs-5 team-left">
                    <ul id="demo1_thumbs" class="list-inline">
                        <li>
                            <a href={% static "web/images/t20.jpg" %}>
                                <img src={% static "web/images/t20.jpg" %} alt="" data-desoslide-caption="<h3>Founder</h3>She is the Founder of Indus Experts Business accounting and running the company with copious knowledge, vigor and enthusiasm are among her many specialties.
                                Anshika has a specialized expertise and education background in the field of accounting and holds a Master’s degree of Commerce. She had been pursuing Chartered Accountancy under ICAI before having to take a maternity break.">
                                <div class="team-w3text"> <br> <br> <br>
                                    <h4>Anshika Verma</h4> 
                                    <p>Founder</p>
                                </div>
                            </a>
                        </li>
                        
                        <li>
                            <a href={% static "web/images/t11.jpg" %}>
                                <img src={% static "web/images/t11.jpg" %} alt="" data-desoslide-caption="<h3>Human Resources</h3>  Visionary Human Resource leader with 10+ years of strong experience across all verticals of Human Resources in diverse industries. Silver Medalist in Human Resources Management with a positive and proactive attitude. Creative, practical & articulate communicator with proven results in solving difficult business problems. Demonstrated experience includes: Organizational effectiveness, Compensation Analysis, Leadership & employee development, Team building, Performance management, Positive employee relations, Training, Recruitment/Retention, Negotiation Skill, Culture change.">
                                <div class="team-w3text">  <br> <br> <br>
                                    <h4>Leena Sharma</h4>
                                    <p>Human Resources</p>
                                </div>
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <div id="demo1_main_image" class="col-md-6 col-xs-7 team-right"></div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- Team  -->


    <!-- testimonials -->
    <div class="testimonials section" id="testimonials">
        <div class="container">
            <h3 class="title-txt">
                <span>C</span>areer</h3>
            <fieldset>
                <legend>HBF Career Program</legend>
                <div class="stats-info" style="padding: 0 0em 2em;">
                    <div class="col-sm-12 col-xs-12 ">
                        <p style="color: #000; font-size: 14px;">
                            It takes self-belief to accept a challenge but it needs courage to conquer it. So, if you believe in yourself and are looking to push your limits you are welcome to be part of team HBF.<br/>
                            <h3>Why HBF</h3>
                            HBF treat everyone as a family, we work for our company members So we grow our employees with best learning skill development Programs. These Program are only for our employees.
                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-square" aria-hidden="true"></i>Professional Finance & Banking Program<br/><br/>
                                <h4>
                                    What is the HBF Professional Finance & Banking Program?
                                </h4>
                                <p style="color: #000; font-size: 14px;">
                                    This is a program under which talented finance professionals, they can manage Banking or accounting for 180 days to enable them to become dynamic banking professionals. 15-Day Residential Program 165-Day On-the-Job Training with Performance and Mentoring.<br/>
                                </p>
                                <h4>
                                    What would be the Job Role?
                                </h4>
                                <p style="color: #000; font-size: 14px;">
                                    The role would be to retain customers by building relationships.<br/>
                                </p>
                                <h4>
                                    Required Qualification:
                                </h4>
                                <p style="color: #000; font-size: 14px;">
                                    For Graduates & Post Graduates (50% marks compulsory) less than 28 years of age.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 man-grid">
                        
                    </div>
                    <div class="clearfix"></div>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- //testimonials -->
    <!-- faq -->
    <div class="section faq" id="gallery">
        <div class="container">
            <h3 class="title-txt text-center">
                <span>F</span>AQ</h3>

            <div class="faq-info">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#testi" aria-controls="testi" role="tab" data-toggle="tab">tab1</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">tab2</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="testi">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <div class="col-md-6  latest-grid">
                                    <div class="faq-left">
                                        <h5>
                                            <i class="fa fa-question-circle" aria-hidden="true"></i> What is a nidhi company?</h5>
                                        <p>A nidhi company is a type of non-banking financial entity in India, primarily involved in accepting deposits and providing loans to its members. Nidhi companies primarily aim to cultivate the habit of thrift and savings among their members and facilitate mutual financial assistance.<br/>
                                    
                                </p>

                                    </div>
                                    <div class="faq-left">
                                        <h5>
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>Who can be a nidhi member?</h5>
                                        <p>Individuals who comply with the membership criteria set by the nidhi company, often involving regular savings contributions, can become member.</p>
                                    </div>
                                  
                                    

                                    <div class="faq-left">
                                        <h5>
                                            <i class="fa fa-question-circle" aria-hidden="true"></i> How can the interest be paid for my FD?</h5>
                                        <p>Interest on FDs can usually be paid at maturity .</p>
                                    </div>

                                    <div class="faq-left">
                                        <h5>
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>Can I make a nomination for my FD?</h5>
                                        <p> Yes, you can nominate a person who will receive the proceeds of your FD in case of your demise. Nomination forms are available with HBF NIDHI Limited.</p>
                                    </div>

                                    <div class="faq-left">
                                        <h5>
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>Is cheque facility available for a savings deposit account?</h5>
                                        <p> No, cheque facility is not available for a savings deposit account with HBF Nidhi Limited.</p>
                                    </div>

                                </div>
                                <div class="col-md-6 latest-grid">
                                    <div class="faq-left">
                                        <h5>
                                            <i class="fa fa-question-circle" aria-hidden="true"></i> What are the criteria for opening a Saving account, FD , RD and Loans in HBF NIDHI Limited?</h5>
                                        <p>Opening a Saving account, FD , RD and Loans in HBF NIDHI Limited typically involves meeting certain criteria and following specific procedures. Here are the general criteria you would need to fulfill:
                                            <br> <br><strong>1.	Membership Requirement: </strong> HBF Nidhi company is a  mutual benefit societies, and often, you need to be a member of the company to avail our deposit services and other banking services . <br> <br> <strong>
                                            2.	Know Your Customer (KYC) Documentation:</strong> HBF Nidhi company require KYC documents to establish your identity and address. This usually includes: <br> 
                                            Proof of identity ( Aadhaar card )<br>
                                            PAN card (for income tax purposes) <br>
                                            Passport-sized photographs
                                            </p>
                                    </div>
                                    <div class="faq-left">
                                        <h5>
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>What is the current interest rate on FD?</h5>
                                        <p> HBF Nidhi offers competitive interest rates of 9% , 9.75% & 11% for investments held for one year, three years and five years respectively.</p>
                                    </div>
                                   
                                    <div class="faq-left">
                                        <h5>
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>What happens when I lose my FD receipt?</h5>
                                        <p> You must inform HBF NIDHI Limited immediately. We will typically require an indemnity bond and other documents to issue a duplicate FD receipt.</p>
                                    </div>

                                    

                                    
                                </div>
                                <div class="clearfix"> </div>
                            </div>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <div class="col-md-6  latest-grid">
                                    <div class="faq-left">
                                        <h5>
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>How much fund you have to reserve as a CRR or balance</h5>
                                        <p>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                    HBF NIDHI Limited min maintain 10% of Total collection amount.
                                                </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                    For ex Hbf nidhi limited.
                                                </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                    Collect : 2 cr saving account ,15 cr fixed depost ,3 cr Reccuring deposit.
                                                </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                     Min CRR mainitain every time : 2cr.
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                    <div class="faq-left">
                                        <h5>
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>Can you provide cheque book ?</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do sit amet conse eiusmod.No, as we told you we are not a bank so we can't provide cheque book.</p>
                                    </div>
                                    <div class="faq-left">
                                        <h5>
                                            <i class="fa fa-question-circle" aria-hidden="true"></i> Can you provide debit card ?</h5>
                                        <p>Yes, we can provide debit card on behalf of Bank. We will come soon with debit cards on behalf of Banks.</p>
                                    </div>

                                </div>
                                <div class="col-md-6 latest-grid">
                                    <div class="faq-left">
                                        <h5>
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>Can I transfer my fund to other of my account in bank or nidhi company and can I transfer to any of my relative or friends account ?</h5>
                                        <p>Yes you can transfer the money, once you will request to transfer, your relationship manager will contact you for verification .After verification your funds will be transferred.</p>
                                    </div>
                                    <div class="faq-left">
                                        <h5>
                                            <i class="fa fa-question-circle" aria-hidden="true"></i> ed do sit amet conse eiusmod ?</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do sit amet conse eiusmod.</p>
                                    </div>
                                    <div class="faq-left">
                                        <h5>
                                            <i class="fa fa-question-circle" aria-hidden="true"></i> conse eiusmod ed do sit amet ?</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do sit amet conse eiusmod.</p>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //faq -->
    <!-- contact -->
    <div class="contact-main section" id="contact" style="background: #aabbcc">
        <div class="section contact-bottom">
            <div class="container">
            <h3 class="title-txt" style="color: #fff">
                Contact us</h3>
                <div class="col-lg-6 col-md-6  contact-right-grid">
                    <h6>send us a message</h6>
                    <div class="agileits-main-right">
                        <form action="#" method="post" class="agile_form">
                            <label class="header">Name</label>
                            <div class="icon1 w3ls-name1">
                                <input placeholder=" " name="first name" type="text" required="">
                            </div>
                            <div class="icon2">
                                <label class="header">Email</label>
                                <input placeholder=" " name="Email" type="email" required="">
                            </div>
                            <label class="header">your message</label>
                            <textarea class="w3l_summary" required=""></textarea>
                            <input type="submit" value="SEND">
                        </form>
                    </div>
                </div>
                <div class="col-md-6 contact-bot">
                    <div class="contact-list">

                        <h6> Open a free checking account online today </h6>
                        <ul class="cbot-list">
                            <li>
                                <h6>Get In Touch</h6>
                                <ul class="address">
                                    <li>
                                        <span class="fa fa-phone" aria-hidden="true"></span>
                                        +91-9971-337-447
                                    </li>
                                    <li>
                                        <span class="fa fa-envelope" aria-hidden="true"></span>
                                        <a href="mailto:hbfnidhi@gmail.com"> hbfnidhi@gmail.com</a>
                                    </li>
                                    <li>
                                        <span class="fa fa-map-marker" aria-hidden="true"></span> HBF NIDHI LIMITED <br>
                                        148-149, 1st floor , Tower B , I-Thum ,Noida sector 62 ,201309
                                    </li>
                                    
                                    
                                </ul>
                            </li>
                            <li>
                               <h6>Follow us</h6>
                                <div class="address-grid">

                                    <ul class="social-icons3">

                                        <li>
                                            <a href="https://www.facebook.com/hbfindia" target="_blank" class="s-iconfacebook">
                                                <span class="fa fa-facebook" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/hbfindia" target="_blank" class="s-icontwitter">
                                                <span class="fa fa-twitter" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="s-icondribbble">
                                                <span class="fa fa-linkedin" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- contact -->
	<!---728x90--->

    <!-- copy right -->
    <p class="footer-class">© 2019 HBF Nidhi Ltd. All Rights Reserved | Design by
        <a href="https:\\www.techlopers.com" target="_blank">Techlopers Solution Pvt. Ltd.</a>
    </p>
    <!-- //copy right -->
   

    <!-- js -->
    <script src={% static "web/js/jquery-2.2.3.min.js" %}></script>
    <!-- //js -->
    <!-- about numscroller -->
    <script src={% static "web/js/numscroller-1.0.js" %}></script>
    <!-- //about numscroller -->
    <!-- banner Slider starts Here -->
    <script src={% static "web/js/responsiveslides.min.js" %}></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //banner slider script ends -->
    <!-- sign in and signup pop up toggle script -->
    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms  
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
    <!-- sign in and signup pop up toggle script -->
    <!-- team desoslide-JavaScript -->
    <script src={% static "web/js/jquery.desoslide.js" %}></script>
    <script>
        $('#demo1_thumbs').desoSlide({
            main: {
                container: '#demo1_main_image',
                cssClass: 'img-responsive'
            },
            effect: 'sideFade',
            caption: true
        });

        $('#demo2_thumbs').desoSlide({
            main: {
                container: '#demo2_main_image',
                cssClass: 'img-responsive'
            },
            effect: 'sideFade',
            caption: true
        });
    </script>
    <!-- //team desoslide-JavaScript -->
    <!-- Flexslider-js for-testimonials -->
    <script src={% static "web/js/jquery.flexisel.js" %}></script>
    <script>
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 1,
                animationSpeed: 1000,
                autoPlay: false,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 1
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 1
                    }
                }
            });

        });
    </script>
    <!-- //Flexslider-js for-testimonials -->
    <!-- start-smooth-scrolling -->
    <script src={% static "web/js/move-top.js" %}></script>
    <script src={% static "web/js/easing.js" %}></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src={% static "web/js/SmoothScroll.min.js" %}></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- gallery smoothbox -->
    <script src={% static "web/js/smoothbox.jquery2.js" %}></script>
    <!-- //gallery smoothbox -->
    <!-- Bootstrap core JavaScript
 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={% static "web/js/bootstrap.js" %}></script>
</body>
</html>
