{% extends 'web/layouts/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="slider-area slider-area2">
        <div class="slider-active owl-carousel">
            <div class="slider-items">
                <img src={% static "web/images/banner2.jpg" %} alt="" class="slider">
            </div>
            <div class="slider-items">
                <img src={% static "web/images/banner.jpg" %} alt="" class="slider">
            </div>
            <div class="slider-items">
                <img src={% static "web/images/banner4.jpg" %} alt="" class="slider">
            </div>
            <div class="slider-items">
                <img src={% static "web/images/banner5.jpg" %} alt="" class="slider">
            </div>
        </div>
    </div>
    <div class="featured-area featured-area2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="featured-wrapper">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="featured-wrap">
                                    <div class="featured-img">
                                        <img src={% static "web/images/saving.png" %} alt="">
                                    </div>
                                    <h2><a href="#">Saving Account</a></h2>
                                    <p>HBF NIDHI LTD offers an attractive savings account to our members with a interest rate of 6% . We offers this savings account facility to our tie-up housing society members where banking service/solution are not easy for senior citizen, ladies & others.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="featured-wrap">
                                    <div class="featured-img">
                                        <img src={% static "web/images/fixed.png" %} % alt="">
                                    </div>
                                    <h2><a href="#">Fixed Deposite</a></h2>
                                    <p>HBF Fixed deposits (FDs) are an attractive mode of parking one's money safely. It offers security in terms of savings on one's income.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="featured-wrap mb-0">
                                    <div class="featured-img">
                                        <img src={% static "web/images/recurring.png" %} alt="">
                                    </div>
                                    <h2><a href="#">Recurring Deposite</a></h2>
                                    <p>HBF Nidhi Ltd. Recurring Deposit is designed to help you prepare for the future. It enables you save regularly for a certain period of time with minimum amount starting Rs. 1,000/- only and earn a higher interest rate.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="featured-wrap mb-0">
                                    <div class="featured-img">
                                        <img src={% static "web/images/loans.png" %} alt="">
                                    </div>
                                    <h2><a href="#">Loans</a></h2>
                                    <p>HBF Nidhi Ltd Gold loans may be availed for any amount between Rs.1,000 to a maximum of Rs. 7.5 Lakhs. Loans are available for periods ranging from one month to one year.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- featured-area end -->

    <!-- about-area start -->
    <div class="featured-content-area position-relative featured-content-area2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Hh5Bhxu37So" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="featured-content-wrap flex-style">
                        <h2><span>ABOUT HBF NIDHI</span></h2>
                        <p>HBF Nidhi Limited is launched by Expert Finance Management team members, pioneer in the financial services Industry. We are recognized under Section 406 of the Companies Act 2013. We are operating under the supervision of Reserve Bank of India.</p>
<p>We accept the deposits, within the framework of norms stipulated by RBI, and are highly secured. The funds mobilized are utilized for the advance of Gold loan to the members.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-area end -->

    <!-- about-area start -->
    <div class="about-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2>About Bitcoin</h2>
                        <img src={% static "web/images/line.png" %} alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="about-img">
                        <img src={% static "web/images/about/1.jpg" %} alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="about-content">
                        <h3>Minimum purchase is 50 Coins tokens. Get a bonus from 5% to 25% on every token purchase</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-6">
                            <div class="about-items">
                                <img src={% static "web/images/about/icon/1.png" %} alt="">
                                <span class="counter">1454</span>
                                <p>Support Countrie</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="about-items">
                                <img src={% static "web/images/about/icon/2.png" %} alt="">
                                <span class="counter">759</span>
                                <p>Bank Support</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="about-items mb-0">
                                <img src={% static "web/images/about/icon/3.png" %} alt="">
                                <span class="counter">1250</span>
                                <p>BitCoin ATMs</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="about-items mb-0">
                                <img src={% static "web/images/about/icon/4.png" %} alt="">
                                <span class="counter">2391</span>
                                <p>Producers Ready</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-area end -->
    <!-- service-area start -->
    <div class="service-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2>Why Choose Bitcoin</h2>
                        <img src="assets/images/line.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="service-wrap">
                        <h3>What We Offer</h3>
                        <p>There are many variations of passages of an Lorem Ipsum available but the about majority have suffered alteration in man some form a by injected humour or that randomised the a words which</p>
                        <p>There are many variations of passages of an Lorem Ipsum available but the about majority have suffered.</p>
                        <a href="#">Free Consultation</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="service-items">
                        <span class="flaticon-bitcoin-9"></span>
                        <h3>Safe And Secure</h3>
                        <p>There are many variations of Lorem Ipsum available but the about  some majority have form randomised words which believable.</p>
                    </div>
                    <div class="service-items">
                        <span class="flaticon-profits"></span>
                        <h3>Instant Exchange</h3>
                        <p>There are many variations of Lorem Ipsum available but the about  some majority have form randomised words which believable.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-12">
                            <div class="service-items">
                                <span class="flaticon-exchange-1"></span>
                                <h3>Secure Wallet</h3>
                                <p>There are many variations of Lorem Ipsum available but the about  some majority have form randomised words which believable.</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <div class="service-items">
                                <span class="flaticon-bitcoin-7"></span>
                                <h3>Experts Support</h3>
                                <p>There are many variations of Lorem Ipsum available but the about  some majority have form randomised words which believable.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service-area end -->

    <!-- resorce-area start -->
    <div class="resorce-area bg-2 ptb-120 resorce-area2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2>Our Market Resource</h2>
                        <img src={% static "web/images/line2.png" %} alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-12">
                    <ul class="resorce-menu row">
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/usd</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/eur</h4>
                                <p>1745.0008</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/rub</h4>
                                <p>0014.2156</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/usd</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/eth</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/eur</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/eth</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info">
                                <h4>btc/usd</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info mb-0">
                                <h4>btc/eth</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                        <li class="col-6">
                            <div class="resorce-info mb-0">
                                <h4>btc/usd</h4>
                                <p>2415.1426</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 col-12">
                    <div class="resorce-wrap">
                        <div id="chartContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- resorce-area end -->

    <!-- expart-area start -->
    <div class="expart-area expart-area2">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-5 col-12">
                    <div class="expart-wrap">
                        <h2>We’r a dynamic team of creatives people innovation & Marketing Expert.</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the dummy majority have suffered alteration in some form, by injected humour or dummy to randomised words which don't look even slightly believable. If you are going to a use a passage of Lorem Ipsum, you need to be sure there isn't anything about an embarrassing hidden in the middle of text.</p>
                        <a href="#">More About <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="expart-img d-none d-lg-block">
            <img src={% static "web/images/featured/1.png" %} alt="">
        </div>
    </div>
    <!-- expart-area end -->
    <!-- calculate-area start -->
    <div class="calculate-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="calculate-wrap">
                        <h2>Bitcoin To Currency Calculator...</h2>
                        <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form humour randomised slightly believable.</p>
                        <ul>
                            <li><input type="text" placeholder="1"></li>
                            <li><p>BTC </p></li>
                            <li>=</li>
                            <li><p>14,150,588 </p></li>
                            <li>
                                <select name="select">
                                    <option value="inr">inr</option>
                                    <option value="etc">ect</option>
                                    <option value="btc">btc</option>
                                    <option value="inr">inr</option>
                                    <option value="etc">ect</option>
                                    <option value="btc">btc</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- calculate-area start -->

    <!-- team-area start -->
    <div class="team-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2>Our Experts Team</h2>
                        <img src={% static "web/images/line.png" %} alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src={% static "web/images/team/1.jpg" %} alt="">
                        </div>
                        <div class="team-content">
                            <h4>Conner Wilkinson</h4>
                            <p>UX / Web Designer</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src={% static "web/images/team/2.jpg" %} alt="">
                        </div>
                        <div class="team-content">
                            <h4>Carolina Velez</h4>
                            <p>Web Developer</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src={% static "web/images/team/3.jpg" %} alt="">
                        </div>
                        <div class="team-content">
                            <h4>Michael Arinze</h4>
                            <p>Marketing Developer</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src={% static "web/images/team/4.jpg" %} alt="">
                        </div>
                        <div class="team-content">
                            <h4>Ashleigh Nelin</h4>
                            <p>Apps Developer</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team-area end -->

    <!-- nvestments-area start -->
    <div class="nvestments-area position-relative nvestments-area2">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block">
                    <div class="nvestments-img">
                        <img src={% static "web/images/bg/2.png" %} alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="contact-wrap  flex-style">
                        <h2>Request A Call Back</h2>
                        <form action="#">
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-sm-6 col-12">
                                    <input type="email" placeholder="Email">
                                </div>
                                <div class="col-sm-6 col-12">
                                    <input type="text" placeholder="Phone">
                                </div>
                                <div class="col-sm-6 col-12">
                                    <input type="text" placeholder="Subject">
                                </div>
                                <div class="col-12">
                                    <textarea cols="30" rows="10" placeholder="Massage"></textarea>
                                </div>
                                <div class="col-12">
                                    <button>Submit Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- nvestments-area end -->

    <!-- blog-area start -->
    <div class="blog-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2>Latest Our News</h2>
                        <img src={% static "web/images/line.png" %} alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4  col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src={% static "web/images/blog/1.jpg" %} alt="">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">Digital Marketo Moved To Their New Office</a></h3>
                            <ul>
                                <li><a href="#">Jhon Simith</a></li>
                                <li><a href="#">2 May, 2017</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                            <p>There are many variations of passages of Lorem is Ipsum available, but the majority have some suffered or alteration in  form, by injected randomised words which.</p>
                            <a href="blog-details.html" class="readmore">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src={% static "web/images/blog/2.jpg" %} alt="">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">Welcome To Our New Head Of Production</a></h3>
                            <ul>
                                <li><a href="#">Jhon Simith</a></li>
                                <li><a href="#">2 May, 2017</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                            <p>There are many variations of passages of Lorem is Ipsum available, but the majority have some suffered or alteration in  form, by injected randomised words which.</p>
                            <a href="blog-details.html" class="readmore">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="blog-wrap">
                        <div class="blog-img">
                            <img src={% static "web/images/blog/1.jpg" %} alt="">
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-details.html">Digital Marketo Launched Their Website</a></h3>
                            <ul>
                                <li><a href="#">Jhon Simith</a></li>
                                <li><a href="#">2 May, 2017</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                            <p>There are many variations of passages of Lorem is Ipsum available, but the majority have some suffered or alteration in  form, by injected randomised words which.</p>
                            <a href="blog-details.html" class="readmore">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog-area end -->
{% endblock %}