{% extends 'web/layouts/base.html' %}
{% load static %}
{% block content %} 

    <!--about -->
    <div id="about" class="section" style="padding: 0em 0;">
        <div class="abt-container">
            <div class="faq-info">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#testi" aria-controls="testi" role="tab" data-toggle="tab" style="font-size: 18px;" >Gold Loan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"style="font-size: 18px;">Loan against Deposit Receipt</a>
                    </li>
                    <li role="presentation">
                        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"style="font-size: 18px;" >Mortgage Loan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="testi">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>Gold Loan</legend>
                                    <div class="stats-info" style="padding: 0 0em 12em;">
                                        <div class="col-sm-12 col-xs-12">
                                            With attractive schemes, easy repayment options and lowest interest rates, HBF Nidhi Ltd, one of the leading Nidhi Companies in NCR offers a hassle-free experience to avail gold loan.<br/><br/>
                                            HBF Nidhi Ltd Gold loans may be availed for any amount between Rs.1,000 to a maximum of Rs. 7.5 Lakhs. Loans are available for periods ranging from one month to one year. Our Gold loans do not have any lock- in-period and there are no prepayment penalties. You can repay earlier than the scheduled as you desire.  Anyone who is the member and owns gold ornaments can avail the loan. (Note: Minors are not eligible.) To obtain the loan, you need to submit your gold jewellery (within the Karat range of 18 to 24 k) at your nearest HBF branches. The loan amount will be sanctioned on the basis of gold valuation which involves verification of its purity. The weight of stones etc. fixed on the ornaments will be deducted for the intention of valuation.</p>
                                            <p style="font-size: 20px;"><strong>Interest Rate</strong></p>
                                            Our base rate of interest is 12 percent. However, depending upon how high the loan to value (LTV) is, additional interest (amounting to risk premium) ranging from 4-8 percent is charged over and above the base rate. The interest and risk premium is applicable only for the days the money was actually utilised. There are no prepayment penalties.Simple interest is charged, which the borrower has to pay at the specified periodicity or at the closure of loan, whichever is earlier. The interest rate is fixed and calculated on a reducing balance basis.<br/><br/>
                                            Gold loan products have a maximum tenure of one year. However, depending upon how high the LTV is opted,members are required to service the interest at specified periodicities.For example, in schemes where LTV is high, interest would have to be serviced monthly.<br/><br/>
                                            <p style="font-size: 20px;"><strong>Supporting Documents</strong></p>
                                            To abide by the  KYC (Know Your Customer) Policy of RBI and approved KYC norms of our Company, we insist to produce one document of identity proof (Such as Ration Card with photo, Driving License, PAN Card, Voter ID card, Passport, Aaadhar Card etc.) and one document of residential address proof (Such as Telephone Bill, Electricity Bill, Water Bill, Bank account / Credit Card Statement, Municipal / Local/House Tax Bill / Receipt, Authentic Rent Receipt / Lease Document, Letter from reputed employer/ Public Authority).<br/><br/>
                                            Once you submit your Application Form, Demand Promissory Note and supporting documents, we shall give approval within a matter of minutes provided everything is in order. All loan approvals are at the sole discretion of the Branch Head.</br></br>
                                            <p style="font-size: 20px;"><strong>Schemes</strong></p>
                                            Our gold loan schemes fall broadly into two categories:
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> High loan to value:</strong> These schemes offer the maximum amount of loan per Gram. At the same time in keeping with the extra risk, the interest cost to the borrower is higher.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> Low interest rate:</strong> In this category, the interest rates are lower but the Loan to Value (LTV) is also comparatively less.</li>
                                            </ul>
                                            Our products are well tailored not only to the income group of the customer, but to relevant considerations like how much loan customers would like to avail against jewellery, and their comfort levels with respect to the interest rate and periodicity of repayment of interest and principal. Incidentally, gold loans can be availed at our branches for amounts as low as Rs.1000 and as high as Rs. 7.5 Lakhs.<br/>
                                            <p style="font-size: 20px;"><strong>Guaranty and Security</strong></p>
                                            We know that these gold ornaments are very precious and favorite to you. So we guarantee you that it will be in our safe hands in strong cash safes inside a strong room built as per the standards and specifications applicable to commercial banks. The pledged gold ornaments are also insured for full value. Moreover, security personnel and modern electronic surveillance technology are deployed to protect your beloved gold ornaments.</br><br/>
                                            The most important things from the customer’s perspective are transparency, security and choice of loan product to suit individual requirements. Transparency would help the customer see for himself what he gets in return for what he pays. There should be no hidden costs and no nasty surprises.</br><br/>
                                            Security is about how well the gold is physically secured, and also about the internal systems and procedures at the company which ensure that there is no scope for any malfunctions after the jewelers have been pledged. The choice of loan products should cover the range from high LTV (loan to value) to low LTV, with appropriate variations in interest rates.
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 89%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>

                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>Loan against Deposit Receipt</legend>
                                    <div class="stats-info" style="padding: 0 0em 10em;">
                                        <div class="col-sm-12 col-xs-12 ">
                                            Loan against Fixed Deposits is a facility offered by HBF Nidhi Ltd to our members against your deposits held with us. For your liquidity requirements, avail 90% of the value of deposits held, without breaking the deposit.<br/><br/>
                                            You can avail a loan against the security of TDR / RD deposits.<br/><br/>
                                            <p style="font-size: 20px;"><strong>You need not close the deposit prematurely, and can avail the loan:</strong></p>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> At the branch where you maintain the deposit.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> As an overdraft or as a demand loan.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> For a maximum of 90% of the face value of deposit and including the interest accrued on the deposit.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> At an interest rate linked to Deposit Rate against TD/RD deposits.</li>
                                            </ul>
                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2">Loan / OD against Deposits</th>
                                                           
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Eligibility</td>
                                                            <td>Term Deposit /Recurring Deposit Holder</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Amount of Loan</td>
                                                            <td>90% of accrued value of deposit.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Margin</td>
                                                            <td>10% on accrued value of deposit</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Repayment</td>
                                                            <td><ul>
                                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Flexible</li>
                                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Maximum up to date of maturity of deposit</li>
                                                                </ul></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Prepayment charges</td>
                                                            <td><strong>Interest Rate:</strong>
                                                                2% over the contracted rate for the Term Deposit/Recurring Deposit pledged.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Security</td>
                                                            <td>Pledge of Term Deposit/Recurring deposit Receipt.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 82%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>
                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend> Mortgage Loan</legend>
                                    <div class="stats-info" style="padding: 0 0em 8em;">
                                        <div class="col-sm-12 col-xs-12 ">
                                            <h5><strong>Features</strong></h5>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Multipurpose loan</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Loan for Businessmen, Professionals, Employed persons and Individuals for the marriage of children, higher studies of child, Medical treatment etc. who is having sufficient income to service the loan.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Loans from Rs.2.00 lakh onwards depending on your needs</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Borrow up to 50% of market value of the property.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Attractive interest rate</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Simple and very speedy processing</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Repayment tenure up to 60 months</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Repayment of installments through any of our branches</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum land area of property</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> No Penalty for premature closing  after 6 months</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Facility for daily remittance</li>
                                            </ul>                                            
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 75%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>

                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    
    <!-- //about -->
{% endblock %}