{% extends 'web/layouts/base.html' %}
{% load static %}
{% block content %} 

    <!--about -->
    <div id="about" class="section" style="padding: 0em 0;">
        <div class="abt-container">
            <div class="faq-info">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#testi" aria-controls="testi" role="tab" data-toggle="tab" style="font-size: 18px;" >Gold Loan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"style="font-size: 18px;">Loan against Deposit Receipt</a>
                    </li>
                    <li role="presentation">
                        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"style="font-size: 18px;" ><span>Loan Against Insurance Policy </span></a>
                    </li>
                    <li role="presentation">
                        <a href="#govt" aria-controls="govt" role="tab" data-toggle="tab"style="font-size: 18px;" ><span>Loan Against Govt. Bond </span></a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="testi">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>Gold Loan</legend>
                                    <div class="stats-info" style="padding: 0 0em 12em;">
                                        <div class="col-sm-12 col-xs-12">
                                            With attractive schemes, easy repayment options and lowest interest rates, HBF Nidhi Ltd, one of the leading Nidhi Companies in NCR offers a hassle-free experience to avail gold loan.<br/><br/>
                                            HBF Nidhi Ltd Gold loans may be availed for any amount between Rs.1,000 to a maximum of Rs. 7.5 Lakhs. Loans are available for periods of three month. Our Gold loans do not have any lock- in-period and there are no prepayment penalties. You can repay earlier than the scheduled as you desire. Anyone who is the member and owns gold ornaments can avail the loan. (Note: Minors are not eligible.) To obtain the loan, you need to submit your gold jewellery (within the Karat range of 18 to 24 k) at your nearest HBF branches. The loan amount will be sanctioned on the basis of gold valuation which involves verification of its purity. The weight of stones etc. fixed on the ornaments will be deducted for the intention of valuation.</p><br/>
                                            We proffer plenteous schemes for Gold loan towards the customers. We bolster a bouquet of products, catering to wide range of people based both in the rural and urban areas. The rate of interest for gold loans is subject to market conditions and is amended accordingly in compliance with Nidhi Rules, 2014. Company lends depending upon the purity of the gold and market value (LTV of Gold) as stipulated by the regulator.</p>
                                            <p style="font-size: 20px;"><strong>Interest Rate</strong></p>
                                            Our base rate of interest is 12 percent. However, depending upon how high the loan to value (LTV) is, additional interest (amounting to risk premium) ranging from 4-8 percent is charged over and above the base rate. The interest and risk premium is applicable only for the days the money was actually utilised. There are no prepayment penalties.Simple interest is charged, which the borrower has to pay at the specified periodicity or at the closure of loan, whichever is earlier. The interest rate is fixed and calculated on a reducing balance basis.<br/><br/>
                                            Gold loan products have a maximum tenure of one year. However, depending upon how high the LTV is opted,members are required to service the interest at specified periodicities.For example, in schemes where LTV is high, interest would have to be serviced monthly.<br/><br/>
                                            <p style="font-size: 20px;"><strong>Supporting Documents</strong></p>
                                            To abide by the  KYC (Know Your Customer) Policy of RBI and approved KYC norms of our Company, we insist to produce one document of identity proof (Such as Ration Card with photo, Driving License, PAN Card, Voter ID card, Passport, Aaadhar Card etc.) and one document of residential address proof (Such as Telephone Bill, Electricity Bill, Water Bill, Bank account / Credit Card Statement, Municipal / Local/House Tax Bill / Receipt, Authentic Rent Receipt / Lease Document, Letter from reputed employer/ Public Authority).<br/><br/>
                                            Once you submit your Application Form, Demand Promissory Note and supporting documents, we shall give approval within a matter of minutes provided everything is in order. All loan approvals are at the sole discretion of the Branch Head.</br></br>
                                            <p style="font-size: 20px;"><strong>Schemes</strong></p>
                                            Our gold loan schemes fall broadly into two categories:
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> High loan to value:</strong> These schemes offer the maximum amount of loan per Gram. At the same time in keeping with the extra risk, the interest cost to the borrower is higher.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> Low interest rate:</strong> In this category, the interest rates are lower but the Loan to Value (LTV) is also comparatively less.</li>
                                            </ul>
                                            Our products are well tailored not only to the income group of the customer, but to relevant considerations like how much loan customers would like to avail against jewellery, and their comfort levels with respect to the interest rate and periodicity of repayment of interest and principal. Incidentally, gold loans can be availed at our branches for amounts as low as Rs.1000 and as high as Rs. 7.5 Lakhs.<br/>
                                            <p style="font-size: 20px;"><strong>Guaranty and Security</strong></p>
                                            We know that these gold ornaments are very precious and favorite to you. So we guarantee you that it will be in our safe hands in strong cash safes inside a strong room built as per the standards and specifications applicable to commercial banks. The pledged gold ornaments are also insured for full value. Moreover, security personnel and modern electronic surveillance technology are deployed to protect your beloved gold ornaments.</br><br/>
                                            The most important things from the customer’s perspective are transparency, security and choice of loan product to suit individual requirements. Transparency would help the customer see for himself what he gets in return for what he pays. There should be no hidden costs and no nasty surprises.</br><br/>
                                            Security is about how well the gold is physically secured, and also about the internal systems and procedures at the company which ensure that there is no scope for any malfunctions after the jewelers have been pledged. The choice of loan products should cover the range from high LTV (loan to value) to low LTV, with appropriate variations in interest rates.
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 89%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>

                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>Loan against Deposit Receipt</legend>
                                    <div class="stats-info" style="padding: 0 0em 10em;">
                                        <div class="col-sm-12 col-xs-12 ">
                                            Loan will be permitted on deposits for the remaining period of the deposit or one year whichever is less up to 90% of the deposit amount carrying interest @2% p.a. above the interest payable on such deposits or such other lower rates may be be fixed by the company from time to time(compounded monthly)
The outstanding loan together with interest shall be settled in one lump sum or shall be adjusted automatically on maturity of deposit.
                                           
                                           
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 82%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>
                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend> Loan Against Insurance Policy</legend>
                                    <div class="stats-info" style="padding: 0 0em 8em;">
                                        <div class="col-sm-12 col-xs-12" >  <strong>
                                            A loan against an insurance policy allows policyholders to leverage the cash value of their life insurance for borrowing purposes. This type of loan is secured by the policy's cash surrender value, which serves as collateral. Here’s how it typically works: </strong><br/><br>
                                            </div>
                                            <p style="font-size: 20px;"><strong></p>
                                                <ul>
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Cash Value:</strong> <span style="font-weight: lighter;">Over time, permanent life insurance policies accumulate a cash value component. This amount grows tax-deferred and can be accessed during the policyholder's lifetime.</span>
                                                    </li>
    
    
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Loan Process: </strong> <span style="font-weight: lighter;"> Policyholders can request a loan from the insurance company, using the cash value as collateral. The loan amount is usually capped at a percentage of the cash surrender value, determined by the insurance company.</span>
                                                    </li>
    
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Interest Rates: </strong> <span style="font-weight: lighter;"> Loans against insurance policies often have relatively low-interest rates compared to other forms of borrowing, since they are secured by the policy's cash value.</span>
                                                    </li>
    
    
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Repayment:</strong> <span style="font-weight: lighter;">The loan can be repaid in several ways: through regular payments of interest and principal, by reducing the policy's death benefit, or a combination of both. If the loan is not repaid during the policyholder's lifetime, the outstanding amount plus interest may be deducted from the death benefit paid to beneficiaries.</span>
                                                    </li>
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Advantages:</strong> <span style="font-weight: lighter;">This type of loan can be beneficial for policyholders needing quick access to cash without liquidating their policy completely. It can also be easier to qualify for compared to traditional loans, as the cash value serves as security.</span>
                                                    </li>
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Considerations: </strong> <span style="font-weight: lighter;">It's important to understand the terms and conditions of the loan, including interest rates, repayment options, and potential impacts on the policy's benefits. Policyholders should evaluate whether the loan aligns with their financial goals.</span>
                                                    </li>
                                                </ul>
                                                <br>
                                            In summary, a loan against an insurance policy provides a flexible option for accessing funds while keeping the policy intact. It’s a valuable feature for policyholders who need temporary liquidity and wish to leverage the cash value they've accumulated within their life insurance policy.
                                         <br> <br> <br>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 75%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>

                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="govt">
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <legend>Loan against Govt Bond</legend>
                                    <div class="stats-info" style="padding: 0 0em 10em;">
                                        <div class="col-sm-12 col-xs-12" > <br> <br> <strong>
                                            A loan against a government bond allows investors to utilize the value of their bond holdings as collateral for borrowing funds. Government bonds are typically considered low-risk investments issued by national governments to finance public expenditures. Here’s how a loan against a government bond generally works:</strong><br/><br>
                                           
                                            <p style="font-size: 20px;"><strong></p>
                                                <ul>
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Collateral: </strong> <span style="font-weight: lighter;">The government bond itself serves as collateral for the loan. Bonds are valued based on their face value, coupon rate, and prevailing market interest rates.</span>
                                                    </li>
    
    
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Loan Amount: </strong> <span style="font-weight: lighter;"> : The loan amount is determined based on a percentage of the bond's current market value, usually assessed by the lender. This percentage can vary depending on the lender's policies and the type of bond.</span>
                                                    </li>
    
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Interest Rates: </strong> <span style="font-weight: lighter;"> Interest rates on loans against government bonds tend to be competitive and lower than rates for unsecured loans because the bond serves as a secure asset.</span>
                                                    </li>
    
    
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Loan Terms: </strong> <span style="font-weight: lighter;">Terms for repayment, interest rates, and other conditions are typically structured by the lender. Borrowers may have options to repay interest periodically and settle the principal at maturity or through other agreed-upon terms.</span>
                                                    </li>
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Benefits:</strong> <span style="font-weight: lighter;">Borrowing against government bonds can provide liquidity without needing to sell the bond outright, allowing investors to maintain exposure to potential capital appreciation and regular coupon payments.</span>
                                                    </li>
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Considerations: </strong> <span style="font-weight: lighter;">It's essential for investors to carefully review loan terms, including interest rates and repayment schedules, to ensure they align with their financial goals and liquidity needs. There may be risks involved, such as potential margin calls if the bond's value declines significantly.</span>
                                                    </li>
                                                </ul>
                                                <br> 
                                                The borrowing against a government bond can be a practical option for investors seeking liquidity while holding onto their bond investments. It provides flexibility and may offer favorable terms compared to other forms of borrowing, leveraging the stability and value of government securities. <br> <br>
                                                <ul>
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Access to Funds: </strong> <span style="font-weight: lighter;">Access funds quickly after all the requirements fulfilled by the individual.</span>
                                                    </li>
    
    
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Competitive Interest Rates </strong> <span style="font-weight: lighter;"> : Benefit from lower interest rates compared to unsecured loans.</span>
                                                    </li>
    
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Maintain Investment Growth:  </strong> <span style="font-weight: lighter;"> Continue earning interest on your deposits while they serve as security for the loan.</span>
                                                    </li>
    
    
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Micro Lending: </strong> <span style="font-weight: lighter;">We only have the option of three months lending.</span>
                                                    </li>
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Easy Application Process: </strong> <span style="font-weight: lighter;">Enjoy a simplified application process with minimal documentation, ensuring convenient access to financing.</span>
                                                    </li>
                                                    
                                                </ul> <br> 
                                                At HBF Nidhi Limited, we recognize the importance of safeguarding your financial investments while fulfilling your liquidity requirements. Our Loan Against collateral is designed to offer you financial flexibility and peace of mind, enabling your savings to work for you as you pursue your financial objectives. <br> <br> <br>
    
                                                
                                        </div> 
                                      
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="abt-pos" style="top: 82%;">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>
                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    
    <!-- //about -->
{% endblock %}