{% extends 'web/layouts/base.html' %}
{% load static %}
{% block content %} 

    <!--about -->
    <div id="about" class="section" style="padding: 0em 0;">
        <div class="abt-container">
            <div class="faq-info">
                <ul class="nav nav-tabs" role="tablist">
                    
                    
                    <li role="presentation">
                        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"style="font-size: 18px;" >Loan against Govt. Bond &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <!-- <div class="tab-content"> -->
                   
                    <!-- <div role="tabpanel" class="tab-pane" id="messages"> -->
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <div class="col-sm-12 col-xs-12" > <br> <br> <strong>
                                        A loan against a government bond allows investors to utilize the value of their bond holdings as collateral for borrowing funds. Government bonds are typically considered low-risk investments issued by national governments to finance public expenditures. Here’s how a loan against a government bond generally works:</strong><br/><br>
                                       
                                        <p style="font-size: 20px;"><strong></p>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Collateral: </strong> <span style="font-weight: lighter;">The government bond itself serves as collateral for the loan. Bonds are valued based on their face value, coupon rate, and prevailing market interest rates.</span>
                                                </li>


                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Loan Amount: </strong> <span style="font-weight: lighter;"> : The loan amount is determined based on a percentage of the bond's current market value, usually assessed by the lender. This percentage can vary depending on the lender's policies and the type of bond.</span>
                                                </li>

                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Interest Rates: </strong> <span style="font-weight: lighter;"> Interest rates on loans against government bonds tend to be competitive and lower than rates for unsecured loans because the bond serves as a secure asset.</span>
                                                </li>


                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Loan Terms: </strong> <span style="font-weight: lighter;">Terms for repayment, interest rates, and other conditions are typically structured by the lender. Borrowers may have options to repay interest periodically and settle the principal at maturity or through other agreed-upon terms.</span>
                                                </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Benefits:</strong> <span style="font-weight: lighter;">Borrowing against government bonds can provide liquidity without needing to sell the bond outright, allowing investors to maintain exposure to potential capital appreciation and regular coupon payments.</span>
                                                </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Considerations: </strong> <span style="font-weight: lighter;">It's essential for investors to carefully review loan terms, including interest rates and repayment schedules, to ensure they align with their financial goals and liquidity needs. There may be risks involved, such as potential margin calls if the bond's value declines significantly.</span>
                                                </li>
                                            </ul>
                                            <br> 
                                            The borrowing against a government bond can be a practical option for investors seeking liquidity while holding onto their bond investments. It provides flexibility and may offer favorable terms compared to other forms of borrowing, leveraging the stability and value of government securities. <br> <br>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Access to Funds: </strong> <span style="font-weight: lighter;">Access funds quickly after all the requirements fulfilled by the individual.</span>
                                                </li>


                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Competitive Interest Rates </strong> <span style="font-weight: lighter;"> : Benefit from lower interest rates compared to unsecured loans.</span>
                                                </li>

                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Maintain Investment Growth:  </strong> <span style="font-weight: lighter;"> Continue earning interest on your deposits while they serve as security for the loan.</span>
                                                </li>


                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Micro Lending: </strong> <span style="font-weight: lighter;">We only have the option of three months lending.</span>
                                                </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Easy Application Process: </strong> <span style="font-weight: lighter;">Enjoy a simplified application process with minimal documentation, ensuring convenient access to financing.</span>
                                                </li>
                                                
                                            </ul> <br> 
                                            At HBF Nidhi Limited, we recognize the importance of safeguarding your financial investments while fulfilling your liquidity requirements. Our Loan Against collateral is designed to offer you financial flexibility and peace of mind, enabling your savings to work for you as you pursue your financial objectives. <br> <br> <br>

                                            
                                    </div>  </fieldset> </div>  <br> <br> <br> 
                                    <div class="abt-pos" style="top: 80%; ">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>

                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                
                                <br> <br>
                                
                                <div class="clearfix"> </div>
                            </div>

                        </div>
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
        
    
    <!-- //about -->
{% endblock %}