{% extends 'web/layouts/base.html' %}
{% load static %}
{% block content %} 

    <!--about -->
    <div id="about" class="section" style="padding: 0em 0;">
        <div class="abt-container">
            <div class="faq-info">
                <ul class="nav nav-tabs" role="tablist">
                    
                    
                    <li role="presentation">
                        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"style="font-size: 18px;" >Loan against Insurance Policy &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <!-- <div class="tab-content"> -->
                   
                    <!-- <div role="tabpanel" class="tab-pane" id="messages"> -->
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <div class="col-sm-12 col-xs-12" > <br> <br> <strong>
                                        A loan against an insurance policy allows policyholders to leverage the cash value of their life insurance for borrowing purposes. This type of loan is secured by the policy's cash surrender value, which serves as collateral. Here’s how it typically works: </strong><br/><br>
                                        </div>
                                
                                        <p style="font-size: 20px;"><strong></p>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Cash Value:</strong> <span style="font-weight: lighter;">Over time, permanent life insurance policies accumulate a cash value component. This amount grows tax-deferred and can be accessed during the policyholder's lifetime.</span>
                                                </li>


                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Loan Process: </strong> <span style="font-weight: lighter;"> Policyholders can request a loan from the insurance company, using the cash value as collateral. The loan amount is usually capped at a percentage of the cash surrender value, determined by the insurance company.</span>
                                                </li>

                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Interest Rates: </strong> <span style="font-weight: lighter;"> Loans against insurance policies often have relatively low-interest rates compared to other forms of borrowing, since they are secured by the policy's cash value.</span>
                                                </li>


                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Repayment:</strong> <span style="font-weight: lighter;">The loan can be repaid in several ways: through regular payments of interest and principal, by reducing the policy's death benefit, or a combination of both. If the loan is not repaid during the policyholder's lifetime, the outstanding amount plus interest may be deducted from the death benefit paid to beneficiaries.</span>
                                                </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Advantages:</strong> <span style="font-weight: lighter;">This type of loan can be beneficial for policyholders needing quick access to cash without liquidating their policy completely. It can also be easier to qualify for compared to traditional loans, as the cash value serves as security.</span>
                                                </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Considerations: </strong> <span style="font-weight: lighter;">It's important to understand the terms and conditions of the loan, including interest rates, repayment options, and potential impacts on the policy's benefits. Policyholders should evaluate whether the loan aligns with their financial goals.</span>
                                                </li>
                                            </ul>
                                            <br>
                                            In summary, a loan against an insurance policy provides a flexible option for accessing funds while keeping the policy intact. It’s a valuable feature for policyholders who need temporary liquidity and wish to leverage the cash value they've accumulated within their life insurance policy.
                                         <br> <br> <br>
                                        </fieldset>
                                            
                                    </div>   
                                    <div class="abt-pos" style="top: 80%; ">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>

                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                
                                <br> <br>
                                <div class="clearfix"> </div>
                            </div>

                        </div>
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
      
    
    <!-- //about -->
{% endblock %}