{% extends 'web/layouts/base.html' %}
{% load static %}
{% block content %}
    <!--about -->
    <div id="about" class="section">
        <div class="abt-container">
            <fieldset>
                <legend>Monthly Income Plan</legend>
                <div class="stats-info" style="padding: 0px 0em 5em;">
                    <div class="col-sm-12 col-xs-12">
                        
                        Secure your financial future with our Monthly Income Plan on Fixed Deposit, offering a lucrative 10% annual interest rate. This plan is designed to provide you with a regular and stable monthly income for a period of 5 years and get the principal amount at the end of the maturity .
                        <br> <br> <br>
                        <p style="font-size: 20px;"><strong>Key Features</strong></p>
                        <ul> 

                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong>Interest Rate:  </strong>Earn a competitive interest rate of 10% per annum.</li>

                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> Investment Period: </strong>Lock in your investment for 5 years.</li>

                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong>Monthly Income:  </strong>Enjoy a fixed monthly income from your deposit.</li>

                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> Safety and Security: </strong>Your investment is safe and backed by our trusted banking institution.</li>                    
                            </ul> <br> <br>

                            <p style="font-size: 20px;"><strong>Benefits</strong></p>
                            <ul> 
    
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong>Steady Income:   </strong>Receive a predictable monthly income stream.</li>
    
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> Risk-Free Returns: </strong>Capitalize on guaranteed returns with no market risks.</li>
    
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong>Financial Planning:   </strong>Plan ahead with confidence knowing your income is secure.</li>
    
                                               
                                </ul> 
                            
                               
                        </div>
                    <div class="clearfix"></div>
                </div>
                <div class="abt-pos" style="top: 40%;">
                    <div class="col-md-6  about-left">
                        <h3 class="title">&nbsp;</h3>
                        <p class="about-bottom">
                        </p>
                        <img src="images/c.png" class="img-responsive" alt="" />
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </fieldset>
        </div>
    </div>

{% endblock %}