{% extends 'web/layouts/base.html' %}
{% load static %}
{% block content %} 

    <!--about -->
    <div id="about" class="section" style="padding: 0em 0;">
        <div class="abt-container">
            <div class="faq-info">
                <ul class="nav nav-tabs" role="tablist">
                    
                    
                    <li role="presentation">
                        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"style="font-size: 18px;" >Mortgage Loan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <!-- <div class="tab-content"> -->
                   
                    <!-- <div role="tabpanel" class="tab-pane" id="messages"> -->
                        <div class="faqmain-info">
                            <div class="faq-subinfo">
                                <fieldset>
                                    <div class="col-sm-12 col-xs-12" > <br> <br>
                                        At HBF Nidhi, we understand the importance of owning a home. That's why we offer mortgage loans to help you finance your dream property.<br/><br>
                                        </div>
                                        <p style="font-size: 20px;"><strong>Benefits</p>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Competitive Rates:</strong> <span style="font-weight: lighter;">We offer attractive interest rates compared to other lenders.</span>
                                                </li>


                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Flexible Repayment Options: </strong> <span style="font-weight: lighter;"> Choose a repayment plan that fits your budget and financial goals.</span>
                                                </li>

                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Transparent Process:</strong> <span style="font-weight: lighter;"> We explain the terms and conditions clearly, ensuring a smooth loan experience.</span>
                                                </li>


                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Fast Processing:</strong> <span style="font-weight: lighter;">Get a quick decision on your loan application.</span>
                                                </li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                    <strong>Membership Benefits:</strong> <span style="font-weight: lighter;">Enjoy additional benefits like preferential interest rates on deposits or other financial products offered by our company (depending on company policy).</span>
                                                </li>
                                            </ul>
                                            <br>


                                            <p style="font-size: 20px;"><strong>Loan Terms and Conditions:</p>
                                                <ul>
                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Loan Amount:</strong> <span style="font-weight: lighter;">The maximum loan amount will depend on the value of your property, your income, and your creditworthiness. Refer to our eligibility criteria for details.</span>
                                                    </li>

                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Interest Rates:</strong> <span style="font-weight: lighter;">We offer competitive fixed or floating interest rates. Please visit our branch or contact us for current rates.</span>
                                                    </li>

                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Loan Tenure: </strong> <span style="font-weight: lighter;">Choose a loan tenure that aligns with your repayment capabilities.</span>
                                                    </li>

                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Margin: </strong> <span style="font-weight: lighter;">We finance a certain percentage (Loan-to-Value ratio) of the property's value. The remaining amount will need to be paid as a down payment.</span>
                                                    </li>

                                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                        <strong>Security:  </strong> <span style="font-weight: lighter;">The borrowed amount will be secured by a mortgage on your property.</span>
                                                    </li>
                                                </ul>

                                                <br>

                                                <p style="font-size: 20px;"><strong>Documents Required</p>
                                                    <ul>
                                                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                            Membership documents with HBF Nidhi</span>
                                                        </li>

                                                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                            KYC documents (identity and address proof)</span>
                                                        </li>

                                                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                            Income proof documents (salary slips, bank statements)</span>
                                                        </li>

                                                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                                            Property documents (ownership proof, valuation report)</span>
                                                        </li>
                                                        </ul>



                                    <!-- <legend> Mortgage Loan</legend> -->
                                    <!-- <div class="stats-info" style="padding: 0 0em 8em;">

                                       


                                        <div class="col-sm-12 col-xs-12 ">
                                            <h5><strong>Features</strong></h5>
                                            <ul>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Multipurpose loan</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Loan for Businessmen, Professionals, Employed persons and Individuals for the marriage of children, higher studies of child, Medical treatment etc. who is having sufficient income to service the loan.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Loans from Rs.2.00 lakh onwards depending on your needs</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Borrow up to 50% of market value of the property.</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Attractive interest rate</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Simple and very speedy processing</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Repayment tenure up to 60 months</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Repayment of installments through any of our branches</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Minimum land area of property</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> No Penalty for premature closing  after 6 months</li>
                                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Facility for daily remittance</li>
                                            </ul>                                            
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>  --> <br> <br> <br> 
                                    <div class="abt-pos" style="top: 80%; ">
                                        <div class="col-md-6  about-left">
                                            <h3 class="title">&nbsp;</h3>
                                            <p class="about-bottom">
                                            </p>

                                            <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </fieldset>
                                <br> <br>
                                <div class="clearfix"> </div>
                            </div>

                        </div>
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
        </div>
    
    <!-- //about -->
{% endblock %}