{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>HBF Nidhi Ltd.| Recurring Deposit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="HBF NIDHI" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href={% static "web/css/bootstrap.css" %} type="text/css" rel="stylesheet" media="all">
    <!-- gallery smoothbox -->
    <link rel="stylesheet" href={% static "web/css/smoothbox.css" %} type='text/css' media="all" />
    <!-- team deoslide -->
    <link rel="stylesheet" href={% static "web/css/jquery.desoslide.css" %}>
    <link href={% static "web/css/style.css" %} type="text/css" rel="stylesheet" media="all">
    <link href={% static "web/css/font-awesome.css" %} rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
</head>
<body>
<script src='../../../../../../../ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script><script src="../../../../../../../m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125810435-1"></script>
<body>
    <div class="top-nav">
        <!--nav top-->
		<!---728x90--->

        <div class="container">

            <div class="navbar-top">
                <div class="nav-top-left">
                    <ul>
                        <li>
                            <a href="/customer/" class="log">Login</a>
                        </li>
                        <li>
                            <a href="/registration/" class="log">register</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-top-right">
                    <ul>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>+91-9971-337-447</li>
                        <li>
                            <i class="fa fa-envelope-o list-icon" aria-hidden="true"></i>
                            <a href="mailto:Info@hbfnidhi.com">Info@hbfnidhi.com</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- nav-bottom -->
        <div class="inner-header">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a href="/"  title="HBF NIDHI Ltd.">
                             <img href="HBF NIDHI" src={% static "web/images/logo.png" %}>
                        </a>
                    </h1>
                </div>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                       <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">About</a>
                        </li>
                        <li class="active">
                            <a href="/">Product</a>
                        </li>
                        <li>
                            <a href="/">Team</a>
                        </li>
                        <li>
                            <a href="/">Career</a>
                        </li>
                        <li>
                            <a href="/" class="scroll">Faq</a>
                        </li>
                        <li>
                            <a href="/">contact</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </nav>
        </div>
    </div>
    <!--/nav ends here-->
    <!--about -->
    <div id="about" class="section">
        <div class="abt-container">
            <fieldset>
                <legend>Recurring Deposit</legend>
                <div class="stats-info" style="padding: 0px 0em 12em;">
                    <div class="col-sm-12 col-xs-12">
                       HBF Nidhi Ltd. Recurring Deposit is designed to help you prepare for the future. It enables you save regularly for a certain period of time with minimum amount starting Rs. 1,000/- only and earn a higher interest rate. At the end of pre-defined period you are paid back the lump sum including the principal and interest.
                        <p style="size: 20px"><strong>Features</strong></p>
                            <ul>
                               <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                    Minimum amount can be deposit Rs.1,000/- at regular intervals.
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                     The Period of deposit is minimum 1 year and maximum 5 years.
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                     The most attractive rate of interest of 8% p.a. with an effect of 1st Mar 2017.
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                     Providing the loan facility. The loan can be given up to 90% of the amount standing the credit of the account holder.
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                     Recurring Deposit provides an option Any Time Money after 12 months. Member can opt this option.
                                </li>
                            </ul>
                            <p style="size: 20px"><strong>Interest rate</strong></p>
                               <ul>
                               <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                    Interest Rate @ 8% p.a.
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                     Interest Rate @ 8.25% p.a. in case of RD in name of Girl Child below 15yrs of age.
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                     Interest Rate @ 8.25% p.a. in case of RD of a Senior Citizen.
                                </li>
                            </ul>
                        </div>
                    <div class="clearfix"></div>
                </div>
                <div class="abt-pos" style="top: 78%;">
                    <div class="col-md-6  about-left">
                        <h3 class="title">&nbsp;</h3>
                        <p class="about-bottom">
                        </p>
                        <img src="images/c.png" class="img-responsive" alt="" />
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </fieldset>
        </div>
    </div>
   <p class="footer-class">© 2019 HBF Nidhi Ltd. All Rights Reserved | Design by
        <a href="https:\\www.techlopers.com" target="_blank">Techlopers Solution Pvt. Ltd.</a>
    </p>
    <script src={% static "web/js/jquery-2.2.3.min.js" %}></script>
    <script src={% static "web/js/numscroller-1.0.js" %}></script>
    <script src={% static "web/js/responsiveslides.min.js" %}></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
    <!-- //banner slider script ends -->
    <!-- sign in and signup pop up toggle script -->
    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms  
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
    <!-- sign in and signup pop up toggle script -->
    <!-- team desoslide-JavaScript -->
    <script src={% static "web/js/jquery.desoslide.js" %}></script>
    <script>
        $('#demo1_thumbs').desoSlide({
            main: {
                container: '#demo1_main_image',
                cssClass: 'img-responsive'
            },
            effect: 'sideFade',
            caption: true
        });
    </script>
    <!-- //team desoslide-JavaScript -->
    <!-- Flexslider-js for-testimonials -->
    <script src={% static "web/js/jquery.flexisel.js" %}></script>
    <script>
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 1,
                animationSpeed: 1000,
                autoPlay: false,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 1
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 1
                    }
                }
            });

        });
    </script>
    <!-- //Flexslider-js for-testimonials -->
    <!-- start-smooth-scrolling -->
    <script src={% static "web/js/move-top.js" %}></script>
    <script src={% static "web/js/easing.js" %}></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src={% static "web/js/SmoothScroll.min.js" %}></script>
    <script src={% static "web/js/smoothbox.jquery2.js" %}></script>
    <script src={% static "web/js/bootstrap.js" %}></script>
</body>
</html>