{% extends 'web/layouts/base.html' %}
{% load static %}
{% block content %}
    <!--about -->
    <div id="about" class="section">
        <div class="abt-container">
            <fieldset>
                <legend>Recurring Deposit</legend>
                <div class="stats-info" style="padding: 0px 0em 12em;">
                    <div class="col-sm-12 col-xs-12">
                        <strong>Top RD schemes with attractive tenures and the highest RD interest rates .</strong><br> 
                        Recurring Deposit (RD) at HBF Nidhi is a trusted savings solution that allows individuals to systematically grow their savings over time. With RD, you commit to depositing a fixed amount monthly for a predetermined period, typically ranging from three years to five years, at an attractive interest rate. This structured approach ensures consistent growth of your savings while offering flexibility in terms of deposit amounts and duration.
                        <br> <br>
                        
                        <ul> 
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong>Fixed Monthly Deposits: </strong>Choose a monthly deposit amount that suits your financial plan.</li>

                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> Flexible Tenure: </strong>RDs can be tailored to meet short-term or long-term financial goals.</li>

                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong>Competitive Interest Rates: </strong>Benefit from competitive rates that accelerate your savings growth. HBF Nidhi offers competitive interest rates of 8% & 9% for investments held for three years and five years respectively.</li>

                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> Easy Access: </strong>Withdraw your maturity amount after the maturity period .</li>


                            
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> Disciplined Saving:  </strong>Cultivate a habit of regular saving, enhancing your financial discipline.</li>


                            
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> Assured Returns:   </strong>Enjoy guaranteed returns, offering peace of mind.</li>

                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> Flexibility:   </strong>Customize deposit amounts & tenure options to suit your needs.</li>

                                
                                
                            </ul> <br>
                            
                               At HBF Nidhi, we prioritize your financial goals. Our RD solutions are designed to provide a secure and rewarding savings experience, ensuring you achieve your future financial milestones with ease and confidence.
                        </div>
                    <div class="clearfix"></div>
                </div>
                <div class="abt-pos" style="top: 78%;">
                    <div class="col-md-6  about-left">
                        <h3 class="title">&nbsp;</h3>
                        <p class="about-bottom">
                        </p>
                        <img src="images/c.png" class="img-responsive" alt="" />
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </fieldset>
        </div>
    </div>

{% endblock %}