{% extends 'web/layouts/base.html' %}
{% load static %}
{% block content %}
    <!--about -->
    <div id="about" class="section">
        <div class="abt-container">
            <fieldset>
                <legend>Recurring Deposit</legend>
                <div class="stats-info" style="padding: 0px 0em 12em;">
                    <div class="col-sm-12 col-xs-12">
                        HBF Nidhi Ltd. Recurring Deposit is designed to help you prepare for the future. It enables you save regularly for a certain period of time with minimum amount starting Rs. 1,000/- only and earn a higher interest rate. At the end of pre-defined period you are paid back the lump sum including the principal and interest.
                        <br> <br>
                        <p style="size: 20px"><strong>Benefits of HBF Nidhi Recurring Deposits:</strong></p>
                        <ul> 
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> Habit Formation:</strong>Develop a regular savings habit by setting aside a fixed amount every month.</li>

                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> Flexibility:</strong>Choose a deposit amount and tenure that suit your budget and financial goals. We offer RD plans ranging from [mention minimum and maximum tenures].</li>

                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong>Growing Savings: </strong>Watch your savings grow steadily with interest compounded on your deposits (explain how interest is compounded - monthly, quarterly, etc.).</li>

                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> Attractive Interest Rates: </strong>Earn competitive interest rates on your recurring deposits, maximizing your returns.</li>


                            
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> Loan Facility (Optional): </strong>Get access to a loan against your RD deposit after a certain period (mention the minimum tenure for loan eligibility if applicable).</li>


                            
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong> Safe and Secure:  </strong>Your deposits are safe with HBF Nidhi, a reputable Nidhi company adhering to strict financial regulations.</li>

                                
                                
                            </ul> <br>
                            <p style="size: 20px"><strong>Interest rate</strong></p>
                               <ul>
                               <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                    Interest Rate @ 8% p.a.
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                     Interest Rate @ 8.25% p.a. in case of RD in name of Girl Child below 15yrs of age.
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                     Interest Rate @ 8.25% p.a. in case of RD of a Senior Citizen.
                                </li>
                            </ul>
                        </div>
                    <div class="clearfix"></div>
                </div>
                <div class="abt-pos" style="top: 78%;">
                    <div class="col-md-6  about-left">
                        <h3 class="title">&nbsp;</h3>
                        <p class="about-bottom">
                        </p>
                        <img src="images/c.png" class="img-responsive" alt="" />
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </fieldset>
        </div>
    </div>

{% endblock %}