{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>HBF Nidhi Ltd.| Saving Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="HBF NIDHI" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href={% static "web/css/bootstrap.css" %} type="text/css" rel="stylesheet" media="all">
    <!-- gallery smoothbox -->
    <link rel="stylesheet" href={% static "web/css/smoothbox.css"%} type='text/css' media="all" />
    <!-- team deoslide -->
    <link rel="stylesheet" href={% static "web/css/jquery.desoslide.css" %}>
    <link href={% static "web/css/style.css" %} type="text/css" rel="stylesheet" media="all">
    <link href={% static "web/css/font-awesome.css"%} rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
</head>
<body>
<script src='../../../../../../../ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script src="../../../../../../../m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125810435-1"></script>
<body>
    <div class="top-nav">
        <div class="container">
            <div class="navbar-top">
                <div class="nav-top-left">
                    <ul>
                        <li>
                            <a href="#" class="log" data-toggle="modal" data-target="#myModal">Login</a>
                        </li>
                        <li>
                            <a href="#" class="log" data-toggle="modal" data-target="#myModal">register</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-top-right">
                    <ul>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>+91-9971-337-447</li>
                        <li>
                            <i class="fa fa-envelope-o list-icon" aria-hidden="true"></i>
                            <a href="mailto:Info@hbfnidhi.com">Info@hbfnidhi.com</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- nav-bottom -->
        <div class="inner-header">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a href="/"  title="HBF NIDHI Ltd.">
                             <img src={% static "web/images/logo.png" %}>
                        </a>
                    </h1>
                </div>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                       <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">About</a>
                        </li>
                        <li class="active">
                            <a href="/">Product</a>
                        </li>
                        <li>
                            <a href="/">Team</a>
                        </li>
                        <li>
                            <a href="/">Career</a>
                        </li>
                        <li>
                            <a href="/" class="scroll">Faq</a>
                        </li>
                        <li>
                            <a href="/">contact</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </nav>
        </div>
    </div>
    <!--/nav ends here-->
    <!--about -->
    <div id="about" class="section">
        <div class="abt-container">
            <fieldset>
                <legend>HBF Savings Account</legend>
                <div class="stats-info" style="padding: 0 0em 12em;">
                    <div class="col-sm-12 col-xs-12">
                        HBF NIDHI LTD offers an attractive savings account to our members with a interest rate of 6% . We offers this savings account facility to our tie-up housing society members where banking service/solution are not easy for senior citizen, ladies & others.
                        <p style="size: 20px"><strong>Features of HBF Saving Account:</strong></p>
                            <ul>
                               <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                     Minimum amount of deposit for opening a Savings Account with a minimum balance of Rs. 100 only which is to be maintained always.
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                     The money can be withdrawn and deposited by using withdrawal/Deposit slip in the concerned branch(es) or on demand at your doorstep free of charges*
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                     To enable the depositor to earn high rate of Interest below are the slabs for Interest Rates provided:<br /><br/>
                                    <div class="table-responsive">
                                       <table class="table table-hover table-bordered">
                                           <thead>
                                               <tr><th>Daily Minimum Balance Required in your Account</th>
                                               <th>Daily Minimum Balance Required in your Account</th>
                                               </tr>
                                           </thead>
                                           <tbody>
                                               <tr>
                                                   <td>Less than or Equal to Rs. 10,000/-</td>
                                                   <td>@6% p.a.</td>
                                               </tr>
                                               <tr>
                                                   <td>For Rs. 10,001 and above</td>
                                                   <td>@6% p.a.</td>
                                               </tr>
                                           </tbody>
                                       </table>    
                                   </div>
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                     NEFT Transfers’ facility will also be provided for ease of transacting
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                     Loans will NOT be provided against the balance kept in HBF Savings Account
                                </li>
                            </ul>
                            <p style="size: 20px"><strong>Documents required for opening Savings Account:</strong></p>
                               <p style="color: #000; font-size: 14px;">You can open your HBF Savings Account by providing  evidence of the depositor in the form of proof of identity and address as under:</p>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <ul>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Proof of Identity (any one of the following).</li>
                                   <ol style="list-style-type: square;">
                                        <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i> Passport</li>
                                       <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i> Unique Identification Number</li>
                                       <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i> Income-tax PAN card</li>
                                       <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i> Elector Photo Identity Card</li>
                                       <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i> Driving licence</li>
                                       <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i> Ration card</li>
                                   </ol>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Proof of address (any one of the following)</li>
                                   <ol>
                                       <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i> Passport</li>
                                       <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i> Unique Identification Number</li>
                                       <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i> Elector Photo Identity Card</li>
                                       <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i> Driving licence</li>
                                       <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i> Ration card</li>
                                       <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i> Telephone bill</li>
                                       <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i> Bank account statement</li>
                                       <li><i class="fa fa-angle-double-right" style="font-size:18px;color:red"></i> Electricity bill</li>
                                   </ol>
                            </ul>
                    </div>
                    <div class="col-md-6 w3ls-row">
                        <br/><br/>
                        <object width="420" height="315"
                            data="https://www.youtube.com/watch?v=Hh5Bhxu37So&feature=youtu.be">
                            </object>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="abt-pos" style="top: 90%;">
                    <div class="col-md-6  about-left">
                        <h3 class="title">&nbsp;</h3>
                        <p class="about-bottom">
                        </p>

                        <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                    </div>
                    
                    <div class="clearfix"> </div>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- //about -->
    <!-- copy right -->
    <p class="footer-class">© 2019 HBF Nidhi Ltd. All Rights Reserved | Design by
        <a href="https:\\www.techlopers.com" target="_blank">Techlopers Solution Pvt. Ltd.</a>
    </p>
    <!-- //copy right -->
    

    <!-- js -->
    <script src={% static "web/js/jquery-2.2.3.min.js" %}></script>
    <script src={% static "web/js/numscroller-1.0.js" %}></script>
    <script src="js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //banner slider script ends -->
    <!-- sign in and signup pop up toggle script -->
    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms  
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
    <!-- sign in and signup pop up toggle script -->
    <!-- team desoslide-JavaScript -->
    <script src={% static "web/js/jquery.desoslide.js" %}></script>
    <script>
        $('#demo1_thumbs').desoSlide({
            main: {
                container: '#demo1_main_image',
                cssClass: 'img-responsive'
            },
            effect: 'sideFade',
            caption: true
        });
    </script>
    <script src={% static "web/js/jquery.flexisel.js" %}></script>
    <script>
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 1,
                animationSpeed: 1000,
                autoPlay: false,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 1
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 1
                    }
                }
            });

        });
    </script>
    <!-- //Flexslider-js for-testimonials -->
    <!-- start-smooth-scrolling -->
    <script src={% static "web/js/move-top.js" %}></script>
    <script src={% static "web/js/easing.js" %}></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src={% static "web/js/SmoothScroll.min.js" %}></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- gallery smoothbox -->
    <script src={% static "web/js/smoothbox.jquery2.js" %}></script>
    <!-- //gallery smoothbox -->
    <!-- Bootstrap core JavaScript
 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={% static "web/js/bootstrap.js" %}></script>
</body>
</html>
