{% extends 'web/layouts/base.html' %}
{% load static %}
{% block content %}
    <!--about -->
    <div id="about" class="section">
        <div class="abt-container">
            <fieldset>
                <legend>HBF Savings Account</legend>
                <div class="stats-info" style="padding: 0 0em 12em;">
                    <div class="col-sm-12 col-xs-12"><strong>
                        A savings deposit account at HBF Nidhi Limited is an account that earns interest on deposited funds.</strong>
                        <br>Our savings accounts at HBF Nidhi Limited offer members a secure and interest-bearing option for effectively managing their funds. Crafted with your financial well-being in mind, our savings accounts provide a dependable platform to deposit and grow your savings effortlessly. Enjoy competitive interest rates and peace of mind throughout your financial journey. <br> <br>
                        
                            <ul>
                               <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                <strong>
                                    Interest Earnings:</strong> Earn competitive interest rate of 6% on your savings to foster steady financial growth.
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <strong>
                                    Security: </strong> Rest assured knowing your deposits are secure with HBF Nidhi Limited, creating a trusted environment for your funds.
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                    <strong>Convenience: </strong> Manage your account seamlessly through access to our extensive branch network.

                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                        <strong>Flexibility: </strong> Choose from a range of account options tailored to meet your specific savings objectives.</li>
                                        
                                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> 
                                            <strong>Customer Support: </strong> Receive personalized service and assistance from our dedicated team of professionals.<br /><br/></li>
                            </ul> <br>
                            Whether you're saving for short-term goals or building a nest egg for the future, our savings accounts at HBF Nidhi Limited are designed to support your financial aspirations with reliability and transparency. Join us today and discover a banking partner committed to your financial success.
                            
                        </div>
                        
                    <div class="col-md-6 w3ls-row">
                        <br/><br/>
                        <object width="420" height="315"
                            data="https://www.youtube.com/watch?v=Hh5Bhxu37So&feature=youtu.be">
                            </object>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="abt-pos" style="top: 90%;">
                    <div class="col-md-6  about-left">
                        <h3 class="title">&nbsp;</h3>
                        <p class="about-bottom">
                        </p>

                        <img src={% static "web/images/c.png" %} class="img-responsive" alt="" />
                    </div>
                    
                    <div class="clearfix"> </div>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- //about -->
    <!-- copy right -->
    {% endblock %}