{% extends 'web/layouts/base.html' %}
{% block content %}
    <div class="breadcumb-area flex-style  black-opacity">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>About Us Company</h2>
                    <ul class="d-flex">
                        <li><a href="/">Home</a></li>
                        <li><i class="fa fa-angle-double-right"></i></li>
                        <li><span>Our Team</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <p>&nbsp;</p>
                        <h4>OUR TEAM</h4>
                        <div class="row">
                          <!--  <div class="col-md-3">
                                <img src="Home_img/SACHINKSHEORAN.jpg" class="img-responsive" />
                            </div>-->
                            <div class="col-md-12">
                                <h5 style ="font-size:1.4em;"><strong>SACHIN K SHEORAN</strong></h5>
                                <h6 style="font-size: 1.1em; color:#034e72;">Ceo & Founder</h6>
                                <p>He has more than 9 years of experience in Financial Sector. He is a first-generation business entrepreneur and a thorough executer who believes in working hard to get results with persistence. A passionate salesman, Sachin has been committed to building strong relationships with client, people and team. He has worked for over 2 years for Foreign based Leading Investment Banks where his role involved managing a team to provide Financial Services. He also worked as an Investment Consultant for few organizations and individuals of High and Ultra High Net worth and has an AUM of more than 50 million (in INR) currently managed under various financial products.</p>
                                <p></p>
                                <p>Sachin heads the board at HBF Nidhi Limited and has been the key factor behind the concept</p>
                                <div class="linkdins"><a href="https://www.linkedin.com/in/sachin-sheoran-3449a339/" target="_blank"><span class="fa fa-linkedin-square"></span></a></div>
                            </div>
                        </div>
        <hr/>
                        <div class="clearfix"></div>
                        <div class="row margin-top3">
                          <!--   <div class="col-md-3">
                                <img src="Home_img/DefaultMale.jpg" class="img-responsive" />
                            </div> -->
                            <div class="col-md-12">
                                <h5 style="font-size:1.4em;"><strong>Harish k Verma </strong></h5>
                                <h6 style="font-size: 1.1em; color:#034e72;">Advisor & Promoter</h6>
                                <p>Mr. Harish K Varma is the senior most experienced person in our team. He has more than 37 years of total experience and is currently working as an Executive Director at International Commission on Irrigation and Drainage (ICID). He has experience and exposure with ASIAN DEVLOPMENT BANK as a Senior Project Officer. A Masters of Engineering with University of Roorkee (now IIT, Roorkee), Mr. Varma, provides invaluable mentorship, suggestions, advice to the board and gives the overall direction, depth and insight to our brand.</p>
                                <div class="linkdins"><a href="https://www.linkedin.com/in/harish-kumar-varma-98615065/" target="_blank"><span class="fa fa-linkedin-square"></span></a></div>
                            </div>
                        </div>
    <hr/>
                        <div class="row margin-top3">
                           <!--  <div class="col-md-3">
                                <img src="Home_img/DefaultMale.jpg" class="img-responsive" />
                            </div>-->
                            <div class="col-md-12">
                                <h5 style="font-size:1.4em;"><strong>Shashwat Verma</strong></h5>
                                <h6 style="font-size: 1.1em; color:#034e72;">promoter</h6>
                                <p>ShashwatVerma is an engineer (B.Tech) in Computer Sciences and MBA in I.T. He brings 11 years of extreme experience in the field of customer sales management & satisfaction, account management, and is also experienced in software development. He had an experience of 7 yrs in SAP LABS</p>
                                <div class="linkdins"><a href="https://www.linkedin.com/in/shashwat-verma-146843b/" target="_blank"><span class="fa fa-linkedin-square"></span></a></div>
                            </div>
                        </div>
    <hr/>
                        <div class="row margin-top3" style="display:none">
                            <!-- <div class="col-md-3">
                                <img src="Home_img/DefaultMale.jpg" class="img-responsive" />
                            </div>-->
                            <div class="col-md-12">
                                <h5 style="font-size:1.4em;"><strong>Preetendra Panwar</strong></h5>
                                <h6 style="font-size: 1.1em; color:#034e72;">Senior Manager- Strategy & Operations</h6>
                                <p>Preetendra has around 8 years of experience as a strategy consultant in financial services sector working with organization like Deloitte, KPMG and others. His expertise lies in strategy consulting, operations, financial benchmarking, hedge funds investments, corporate banking and training activities. Preetendra has also worked on strategy formulation for operationalizing one of the payments bank in the recent past. He comes with vast experience of global banking domain in geographies like US, UK, Europe and India. He holds and a degree in MBA (Finance & Marketing).</p>
                                <div class="linkdins"><a href="https://www.linkedin.com/in/preetendra-panwar-51a7b928/" target="_blank"><span class="fa fa-linkedin-square"></span></a></div>
                            </div>
                        </div>
                        <div class="row margin-top3">
                            <div class="col-md-12">
                                <h5 style="font-size:1.4em;"><strong>Neha Gupta Vishnoi</strong></h5>
                                <h6 style="font-size: 1.1em; color:#034e72;">Human Resources</h6>
                                <p>Visionary Human Resource leader with 10+ years of strong experienceacross all verticals of Human Resources in diverse industries. SilverMedalist in Human Resources Management with a positive and proactiveattitude. Creative, practical & articulate communicator with provenresults in solving difficult business problems.Demonstrated experience includes: Organizational effectiveness,Compensation Analysis, Leadership & employee development, Team building, Performance management, Positive employee relations,Training, Recruitment/Retention, Negotiation Skill, Culture change.</p>
                                <div class="linkdins"><a href="https://www.linkedin.com/in/neha-gupta-vishnoi-b263834/" target="_blank"><span class="fa fa-linkedin-square"></span></a></div>
                            </div>
                        </div>
                    </div>
    <br/>
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
{% endblock %}